@import (reference) "../../styles/variables";

.Typeahead {
  flex: 1;
  position: relative;

  @media (max-width: @screen-xs-max) {
    padding: 0 1rem;
  }

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    min-width: 100%;
    padding: 0;
    margin: 0.5rem 0 0 0;
    background-color: #fff;
    overflow: auto;

    @media (max-width: @screen-xs-max) {
      box-shadow: 0px 6px 6px -3px @gray4;
    }

    @media (min-width: @screen-sm-min) {
      margin: 0;
      border-bottom: 2px solid @primaryDarkBlue;
      border-left: 2px solid @primaryDarkBlue;
      border-right: 2px solid @primaryDarkBlue;
    }
  }

  ul li {
    display: block;
    clear: both;
    line-height: 2rem;
    color: #333;
    white-space: nowrap;
    font-size: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
}

.Typeahead__input {
  width: 100%;
  padding: 1rem;
  font-size: 110%;
  border: 1px solid #B7B1A9;
  border-radius: 0;

  &:focus {
    outline: 0;
  }
}

.Typeahead__suggestions {
  width: ~"calc(100% - 4rem)";
  overflow-x: hidden;
}

.Typeahead__suggestions--hidden {
  display: none;
}
