@media (min-width: 992px) {
    .FavouritesList__total-and-sorting {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.FavouritesList_Sorting {
    display: flex;
    align-items: center;
}

.FavouritesList_Sorting label {
    margin-right: 0.5rem;
    white-space: nowrap;
    margin-bottom: 0;
}
