.Search__flex {
    display: flex;
    flex-direction: column;
    gap: 0 2rem;
    margin-bottom: 6rem;
    align-items: center;
}

@media (min-width: 769px) {
    .Search__flex {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (min-width: 769px) {
    .Search__flex-left {
        width: 384px;
        padding-top: 2rem;
        padding-right: 2rem;
    }
}

.Search__flex-left .navds-checkbox {
    margin-top: 0 !important;
}

.Search__flex-right {
    flex: 1;
    padding-top: 1.5rem;
    width: 100%;
}

@media (min-width: 928px) {
    .Search__flex-right {
        max-width: 800px;
    }
}

.Search__h1 {
    text-align: center;
    word-wrap: break-word;
    padding: 1rem;
}

@media (min-width: 768px) {
    .Search__h1 {
        padding: 3rem 0 2rem 0;
    }
}

.Search__filter-buttons {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}

@media (min-width: 690px) {
    .Search__filter-buttons {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .Search__filter-buttons {
        gap: 1rem 0.35rem;
    }
}

.Search__number-of-hits-and-sorting-wrapper {
    background: var(--arb-green-50);
}

.Search__count {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 728px) {
    .Search__count {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1156px) {
    .Search__count {
        padding-left: 480px;
    }
}

.Search__link-to-favourites-and-saved-search {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0 2rem;
}

@media (min-width: 769px) {
    .Search__link-to-favourites-and-saved-search {
        margin: 0 0 2rem 0;
    }
}

.Search__buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

@media (min-width: 769px) {
    .Search__buttons {
        justify-content: center;
    }
}

.Search__favourites-saved-search-buttons {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

}

@media (min-width: 769px) {
    .Search__link-to-favourites-and-saved-search {
        justify-content: center;
    }
}