.Search__flex-wrapper {
    margin: 0 auto 2rem;
    max-width: 1232px;
    width: 100%;
    padding: 0 1rem;
}

@media (min-width: 992px) {
    .Search__flex-wrapper {
        margin: 2rem auto;
        display: flex;
    }
}

.Search__h1 {
    text-align: center;
    word-wrap: break-word;
    padding: 1rem;
}

@media (min-width: 768px) {
    .Search__h1 {
        padding: 3rem 0 2rem 0;
    }
}

.Search__h2 {
    margin: 1rem 0;
}

@media (min-width: 992px) {
    .Search__h2 {
        margin: 0 0 1rem 0;
    }
}

@media (min-width: 992px) {
    .Search__form {
        padding-top: 12px;
        position: relative;
        width: 400px;
    }
}

.Search__reset-and-save-search {
    margin-top: 2rem;
    padding: 0 0 1rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 992px) {
    .Search__reset-and-save-search {
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
    }
}

.SearchBox {
    position: relative;
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .SearchBox {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}
