.Search__h1 {
    text-align: center;
    word-wrap: break-word;
    padding: 1rem;
}

@media (min-width: 768px) {
    .Search__h1 {
        padding: 3rem 0 2rem 0;
    }
}

.Search__filter-buttons {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}

@media (min-width: 690px) {
    .Search__filter-buttons {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .Search__filter-buttons {
        gap: 1rem 0.35rem;
    }
}

.Search__number-of-hits-and-sorting-wrapper {
    background: var(--arb-green-50);
    margin-bottom: 2rem;
}

.Search__number-of-hits-and-sorting {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 660px) {
    .Search__number-of-hits-and-sorting {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.SearchBox {
    max-width: 600px;
    margin: 0 auto;
}