@import (reference) "../../../styles/variables";

.SearchResultItem {
  position: relative;
  border-top: 1px solid @gray3;
  padding: 1rem;

  &:nth-child(even) {
    background-color: @gray1;
  }

  @media (max-width: @screen-sm-max) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.SearchResultItem__link {
  color: @primaryPurple;
  margin: 0 2rem 1rem 0;
  display: inline-block;

  @media (min-width: @screen-sm-min) {
    max-width: 600px;
    margin: 0 6rem 1rem 0;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: @gray5;
  }

  &:focus-visible {
    color: #ffffff;
    background: @blueDarken;
    outline: none;
  }
}

.SearchResultItem__favourite {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
}
