@import (reference) "../../../styles/variables";

.SearchResultsItemDetails__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.33;
  margin: 0;
}

.SearchResultsItemDetails__jobtitle {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: 1.125rem;
}

.SearchResultsItemDetails__employer {
  margin: 0 0 0.25rem 0;
  font-size: 1.125rem;
}

.SearchResultsItemDetails__location {
  margin: 0 0 1rem 0;
  font-size: 1.125rem;
}

.SearchResultsItemDetails__applicationdue {
  margin: 0 1rem 0 0;
  font-size: 1rem;
}

.SearchResultsItemDetails__external-link {
  margin: 0.5rem 0 0 0;

  @media (min-width: @screen-sm-min) {
    margin: 0;
  }
}

.SearchResultsItemDetails__external-link {
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

@media (min-width: @screen-sm-min) {
  .SearchResultsItemDetails__applicationdue-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.SearchResultsItemDetails__jobtitle,
.SearchResultsItemDetails__employer,
.SearchResultsItemDetails__location,
.SearchResultsItemDetails__applicationdue,
.SearchResultsItemDetails__external-link {
  line-height: 1.33;
  color: #062140;
}

.SearchResultsItemDetails__title,
.SearchResultsItemDetails__jobtitle,
.SearchResultsItemDetails__employer,
.SearchResultsItemDetails__location {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
