@import (reference) "../../../styles/variables";

.SearchResults__spinner {
  display: flex;
  justify-content: center;
  min-height: 15rem;
  align-items: center;
}

.SearchResultCount__h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

