@import "../variables";

.BackLink {
  border-bottom: 0!important;
  color: @primaryPurple;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 18px;

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: @primaryPurple;
  }

  &:focus {
    background: @infoYellow;
    outline: none;
  }
}

.BackLink__chevron {
  margin-top: -3px;
}
