.job-posting-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 70ch;
}

.job-posting-text #arb-arbeidsoppgaver,
.job-posting-text #arb-tilbyr,
.job-posting-text #arb-serEtter {
    margin-bottom: var(--a-spacing-16);
}

#arb-aapningstekst p {
    margin: 0 0 var(--a-spacing-8);
}

.about-company .job-posting-text *:last-child {
    margin-bottom: 0;
}

.about-company .ad-description-list {
    margin-top: var(--a-spacing-6);
}
