@import "../../variables";

.ToggleFavouriteStar {
  padding: 0.5rem!important;
}

.ToggleFavouriteStar__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ToggleFavouriteStar__star {
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23' viewBox='0 0 24 23'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%238c368e' d='M12 18l-7.053 3.708 1.347-7.854L.587 8.292l7.886-1.146L12 0l3.527 7.146 7.886 1.146-5.707 5.562 1.347 7.854z'/%3E%3C/svg%3E") center no-repeat;
  height: 24px;
  width: 24px;
}

.ToggleFavouriteStar:active .ToggleFavouriteStar__flex .ToggleFavouriteStar__star{
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23' viewBox='0 0 24 23'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23FBD8E7' d='M12 18l-7.053 3.708 1.347-7.854L.587 8.292l7.886-1.146L12 0l3.527 7.146 7.886 1.146-5.707 5.562 1.347 7.854z'/%3E%3C/svg%3E") center no-repeat;
}

.ToggleFavouriteStar__star--active {
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23' viewBox='0 0 24 23'%3E%3Cpath fill='%238c368e' fill-rule='evenodd' stroke='%238c368e' d='M12 18l-7.053 3.708 1.347-7.854L.587 8.292l7.886-1.146L12 0l3.527 7.146 7.886 1.146-5.707 5.562 1.347 7.854z'/%3E%3C/svg%3E") center no-repeat;
  height: 24px;
  width: 24px;
}

.ToggleFavouriteStar:active .ToggleFavouriteStar__flex .ToggleFavouriteStar__star--active{
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23' viewBox='0 0 24 23'%3E%3Cpath fill='%23FBD8E7' fill-rule='evenodd' stroke='%23FBD8E7' d='M12 18l-7.053 3.708 1.347-7.854L.587 8.292l7.886-1.146L12 0l3.527 7.146 7.886 1.146-5.707 5.562 1.347 7.854z'/%3E%3C/svg%3E") center no-repeat;
}

@media (max-width: @screen-xs-max) {
  .ToggleFavouriteStar__star {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 23'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%238c368e' d='M12 18l-7.053 3.708 1.347-7.854L.587 8.292l7.886-1.146L12 0l3.527 7.146 7.886 1.146-5.707 5.562 1.347 7.854z'/%3E%3C/svg%3E") center no-repeat;
    height: 20px;
    width: 20px;
  }


  .ToggleFavouriteStar__star--active {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 23'%3E%3Cpath fill='%238c368e' fill-rule='evenodd' stroke='%238c368e' d='M12 18l-7.053 3.708 1.347-7.854L.587 8.292l7.886-1.146L12 0l3.527 7.146 7.886 1.146-5.707 5.562 1.347 7.854z'/%3E%3C/svg%3E") center no-repeat;
    height: 20px;
    width: 20px;
  }
}
