@import (reference) "../../../styles/variables";

.Pagination {
  text-align: center;
  margin-top: 2rem;
}

.Pagination__numberOfTotal {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.Pagination__button {
  margin-bottom: 1rem;
}
