.SelectedFilters {
    margin-bottom: 2rem;
}

.SelectedFilters__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

@media (min-width: 769px) {
    .SelectedFilters__header {
        gap: 1rem;
    }
}

.SelectedFilters__chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}