.JobPosting {
    margin-top: 3rem;
    margin-bottom: 2rem;
    min-height: 100vh;
}

@media (min-width: 1025px) {
    .JobPosting__flex {
        display: flex;
    }
}

.JobPosting__left {
    margin: 0 0 2rem 0;
}

@media (min-width: 1025px) {
    .JobPosting__left {
        flex: 2;
        padding-right: 3rem;
    }
}

@media (min-width: 1200px) {
    .JobPosting__left {
        padding-right: 6rem;
    }
}

@media (min-width: 1025px) {
    .JobPosting__right {
        width: 340px;
    }
}

.JobPosting__section {
    width: 100%;
    margin-bottom: 2.5rem;
}

@media (min-width: 1025px) {
    .JobPosting__dl--flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 4rem;
    }
}


.JobPosting__dl dd,
.JobPosting__dl dt {
    line-height: 1.33;
    overflow-wrap: anywhere;
}

.JobPosting__dl dt {
    margin: 0;
    font-weight: 600;
}

.JobPosting__dl dd {
    margin: 0 0 1rem 0;
}

.JobPosting__overflow {
    overflow-wrap: anywhere;
}
