.AdText {
    background: #fff;
    font-size: var(--a-font-size-large);
    line-height: 1.5;
    font-weight: 400;
    min-height: 60px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 70ch;
}

.AdText h1 {
    margin: 2rem 0 1rem 0;
    font-size: var(--a-font-size-heading-xlarge);
    line-height: var(--a-font-line-height-heading-xlarge);
}

.AdText h2 {
    margin: 2rem 0 1rem 0;
    font-size: var(--a-font-size-heading-large);
    line-height: var(--a-font-line-height-heading-large);
    font-weight: 600;
}

.AdText h3 {
    margin: 2rem 0 1rem 0;
    font-size: var(--a-font-size-heading-medium);
    line-height: var(--a-font-line-height-heading-medium);
    font-weight: 600;
}

.AdText h4 {
    margin: 2rem 0 1rem 0;
    font-size: var(--a-font-size-heading-small);
    line-height: var(--a-font-line-height-heading-small);
    font-weight: 600;
}

.AdText h5 {
    margin: 2rem 0 1rem 0;
    font-size: var(--a-font-size-heading-xsmall);
    line-height: var(--a-font-line-height-heading-xsmall);
    font-weight: 600;
}

.AdText p,
.AdText ul,
.AdText ol {
    margin: 1rem 0;
}

@media (max-width: 991px) {
    .AdText {
        padding: 0;
        margin-bottom: 1rem;
    }
}
