.AdText {
    background: #fff;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
    min-height: 60px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.AdText h1 {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.15;
}

.AdText h2 {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: 600;
}

.AdText h3 {
    margin: 2rem 0 1rem 0;
    font-size: 1.25rem;
    line-height: 1.33;
    font-weight: 600;
}

.AdText p,
.AdText ul,
.AdText ol {
    margin: 1rem 0;
}

@media (max-width: 991px) {
    .AdText {
        padding: 0;
        margin-bottom: 1rem;
    }
}
