.HowToApply {
    background: var(--arb-green-50);
    padding: 1rem;
    border-radius: 6px;
}

.HowToApply__favourite-button {
    margin: 1rem 0 0;
}

@media (max-width: 479px) {
    .HowToApply__full-width-button {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .HowToApply__full-width-button {
        width: 100%;
    }
}

