.SocialShare {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.SocialShare__facebook {
    margin-right: 1rem;
}

.SocialShare__facebook svg .cls-1 {
    fill: #1877f2;
}

.SocialShare__facebook svg .cls-2 {
    fill: #fff;
}

.SocialShare__linkedin {
    margin-right: 1rem;
}

.SocialShare__linkedin svg .cls-1 {
    fill: #2867b2;
}

.SocialShare__linkedin svg .cls-2 {
    fill: #fff;
}

.SocialShare__twitter {
    margin-right: 1rem;
}

.SocialShare__twitter svg .cls-1 {
    fill: #1da1f2;
}

.SocialShare__twitter svg .cls-2 {
    fill: #fff;
}

.SocialShare__messenger {
    margin-right: 1rem;
}

.SocialShare__messenger svg .cls-1 {
    fill: url(#linear-gradient);
}

.SocialShare__messenger svg .cls-2 {
    fill: #fff;
    fill-rule: evenodd;
}
