@import (reference) "../../../common/styles/variables";

.SocialShare__link {
    display: flex;
    align-items: center;
    color: #8c368e;
    margin-bottom: 1rem;

    &:focus,
    &:active {
        box-shadow: 0 0 0 3px @primaryDarkBlue;
        outline: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.SocialShare__text {
    margin-left: 0.5rem;
}

.SocialShare__label {
    font-size: 18px;
}

.SocialShare__facebook {
    margin-right: 1rem;

    svg {
        .cls-1 {
            fill: #1877f2;
        }

        .cls-2 {
            fill: #fff;
        }
    }
}

.SocialShare__linkedin {
    margin-right: 1rem;

    svg {
        .cls-1 {
            fill: #2867b2;
        }

        .cls-2 {
            fill: #fff;
        }
    }
}

.SocialShare__twitter {
    margin-right: 1rem;

    svg {
        .cls-1 {
            fill: #1da1f2;
        }

        .cls-2 {
            fill: #fff;
        }
    }
}

.SocialShare__messenger {
    margin-right: 1rem;

    svg {
        .cls-1 {
            fill: url(#linear-gradient);
        }

        .cls-2 {
            fill: #fff;
            fill-rule: evenodd;
        }
    }
}
