.Summary {
    margin: 0 0 3rem 0;
}

.Summary__item {
    margin: 0 0 0.5rem 0;
    font-weight: 600;
    font-size: var(--a-font-size-heading-small);
    line-height: 1.4;
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
