@import '../../variables';

.Facet {
  margin-bottom: @facet-marginBottom;
  color: @blueDarken;

  .skjemaelement {
    margin-bottom: 0.5rem;
  }

  .ekspanderbartPanel__innhold {
    background: transparent !important;
  }
}

.Facet__inner__items {
  margin-left: 1.5rem;
}

.Facet__zero__count label {
  color: #78706A !important;
}
