.next
public
node_modules/
yarn.lock
package-lock.json
**/*.test.js
coverage

.DS_Store
.classpath
.project
.settings
.externalToolBuilders
*.py[co]
*.*~
*\#
*.db
*_old
*.pybundle
*.sublime-workspace
/venv/
/api/_static/
target
.idea/
*.iml
*.log
reports/
repo_test_dir
**/webapp/static/bundle.js
war/src/main/client/build/
dist/