{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": ["plugin:react/recommended", "airbnb", "prettier", "plugin:jsx-a11y/recommended"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 6,
        "sourceType": "module",
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    },
    "plugins": ["react", "prettier"],
    "rules": {
        "no-underscore-dangle": "off",
        "react/jsx-no-bind": "off",
        "react/no-unescaped-entities": "off",
        "prettier/prettier": "error",
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "react/forbid-prop-types": "off",
        // defaultProps rule to be deprecated on function components
        // https://github.com/reactjs/rfcs/pull/107
        "react/require-default-props": [
            "error",
            {
                "ignoreFunctionalComponents": true
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "extensions": [".js", ".jsx"],
                "map": [["@", "."]]
            }
        }
    }
}
