.classpath
.project
.settings
.externalToolBuilders
*.py[co]
*.*~
*\#
*.db
*_old
*.pybundle
*.sublime-workspace
/venv/
/api/_static/
target
.idea/
*.iml
*.log
reports/
node_modules/
repo_test_dir
**/webapp/static/bundle.js
war/src/main/client/build/
dist/

screenshots
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
