@import "../../variables";

.SavedSearchModal {
  padding: @modal-padding;
}

@media (max-width: @screen-xs-max) {
  .SavedSearchModal {
    padding: @modal-padding-mobile;
  }
}

.SavedSearchModal__title {
  margin-bottom:  @modal-title-margin-bottom;
}

.SavedSearchModal__form-mode {
  margin-bottom: 1rem;
}

.SavedSearchModal__body__notify {
  margin: 1.5rem 0 2.5rem!important;
}

.SavedSearchModal__body {
  margin-bottom: @modal-body-margin-bottom;
}


.SavedSearchModal__buttons .knapp:not(:last-child) {
  margin-right: @button-marginRight;
}

@media (max-width: @screen-xs-max) {
  .SavedSearchModal__form-mode {
    margin-bottom: 0;
  }
}

@media (min-width: 450px) {
  .SavedSearchModal__body__duration {
    display: inline;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
