.SearchResultItem {
    padding: 2rem 1rem;
}

.SearchResultItem:focus {
    outline: none;
}

.SearchResultItem:nth-child(odd) {
    background-color: var(--arb-gray-50);
}

@media (max-width: 991px) {
    .SearchResultItem {
        margin-left: -16px;
        margin-right: -16px;
    }
}

.SearchResultsItem__title {
    margin: 0 0 0.75rem 0;
}

.SearchResultsItem__jobtitle {
    margin: 0 0 0.75rem 0;
}

.SearchResultsItem__employer {
    margin: 0 0 0.25rem 0;
}

.SearchResultsItem__location {
    margin: 0 0 1rem 0;
}

.SearchResultsItem__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.SearchResultsItem__published,
.SearchResultsItem__applicationdue {
    margin: 0;
}

.SearchResultsItem__external-link {
    margin: 0.5rem 0 0 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.SearchResultsItem__jobtitle,
.SearchResultsItem__employer,
.SearchResultsItem__location,
.SearchResultsItem__applicationdue,
.SearchResultsItem__published,
.SearchResultsItem__external-link {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.SearchResultsItem__favourite-button {
    margin-right: -8px;
    margin-bottom: -8px;
}
