@import (reference) "../../../../common/styles/variables";

.SearchResultItem {
  padding: 2rem 1rem;

  &:focus {
    outline: none;
  }

  &:nth-child(odd) {
    background-color: @gray1;
  }

  @media (max-width: @screen-sm-max) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.SearchResultsItem__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.33;
  margin: 0 0 0.75rem 0;
}

.SearchResultsItem__jobtitle {
  margin: 0 0 0.75rem 0;
  font-weight: 600;
  font-size: 1.125rem;
}

.SearchResultsItem__employer {
  margin: 0 0 0.25rem 0;
  font-size: 1.125rem;
}

.SearchResultsItem__location {
  margin: 0 0 1rem 0;
  font-size: 1.125rem;
}

.SearchResultsItem__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.SearchResultsItem__published,
.SearchResultsItem__applicationdue {
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
}

.SearchResultsItem__external-link {
  margin: 0.5rem 0 0 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.SearchResultsItem__jobtitle,
.SearchResultsItem__employer,
.SearchResultsItem__location,
.SearchResultsItem__applicationdue,
.SearchResultsItem__published,
.SearchResultsItem__external-link {
  line-height: 1.33;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.SearchResultsItem__favourite-button {
  margin-right: -8px;
  margin-bottom: -8px;
}

.SearchResultsItem__expired {
  margin: 0 0 1rem 0;
}

.SearchResultsItem__hasInterestform {
  font-weight: 600;
  background-color: #A7E9FF;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 14px;
  line-height: 1.25;
  display: inline-block;
  margin: 1rem 0 0 0;
}