.SearchResultItem {
    margin-bottom: 3rem;
}

.SearchResultItem:focus {
    outline: none;
}

.SearchResultsItem__title {
    overflow-wrap: anywhere;
}

.SearchResultItem .FavouriteButton {
    margin-top: -0.5rem;
}

.SearchResultItem__heading-and-favourite {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
}

.SearchResultsItem__title-external svg {
    margin-bottom: -4px;
}

.SearchResultItem__details {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.SearchResultsItem__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem 2rem;
}

.SearchResultItem__text-and-icon {
    display: flex;
    gap: 0.75rem;
}

.SearchResultsItem__favourite-button {
    margin-right: -8px;
    margin-bottom: -8px;
}

.SearchResultItem__subtle-text {
    color: var(--arb-gray-700);
}

.SearchResultItem__subtle-text.published::first-letter {
    text-transform: capitalize;
}
