.SearchResultItem {
    margin-bottom: 3rem;
    padding-left: 1rem;
    border-left: 2px solid var(--arb-blue-50);
}

@media (min-width: 728px) {
    .SearchResultItem {
        padding-left: 2rem;
    }
}

.SearchResultItem:focus {
    outline: none;
}

.SearchResultItem .FavouriteButton {
    margin-top: -0.5rem;
}

.SearchResultItem__heading-and-favourite {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
    margin-bottom: 0.75rem;
}

.SearchResultsItem__title-external svg {
    margin-bottom: -4px;
}

.SearchResultItem__details {
    display: flex;
    gap: 1rem 2rem;
    flex-wrap: wrap;
}

.SearchResultsItem__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem 2rem;
}


.SearchResultsItem__favourite-button {
    margin-right: -8px;
    margin-bottom: -8px;
}
