.FavouritesList__total-and-sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.FavouritesList_Sorting {
    display: flex;
    align-items: center;
}

.FavouritesList_Sorting label {
    margin-right: 0.5rem;
    white-space: nowrap;
    margin-bottom: 0;
}

.FavouriteListItem__delete-button {
    margin-top: -0.5rem;
}
