@import "../../variables";

.Pagination {
    text-align: center;
}

.Pagination__chevron {
    margin-right: 0.5rem;
}

@media (max-width: @screen-xs-max) {
    .Pagination__button {
       width: 100%;
    }
}
