.container {
    background-color: var(--arb-brand-green-100);
    border-radius: var(--ax-radius-12);
    padding: var(--ax-space-8);
}

@media (min-width: 768px) {
    .container {
        padding: var(--ax-space-24);
    }
}

.stepper {
    margin-block: var(--ax-space-4);
}

.step-content:focus {
    outline: none;
}

.tilbake-knapp {
    align-self: flex-start;
}
