.job-posting-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 70ch;
}

.job-posting-text #arb-arbeidsoppgaver,
.job-posting-text #arb-tilbyr,
.job-posting-text #arb-serEtter {
    margin-bottom: var(--ax-space-32);
}

#arb-aapningstekst p {
    margin: 0 0 var(--ax-space-32);
}
