<footer class="dsa-footer">
    <div class="dsa-footer-inner">
        <div class="dsa-footer-logo">
            <a href="https://www.nav.no/" class="dsa-footer-til-nav" aria-label="Gå til nav.no">
                <div role="img" class="dsa-footer-nav-logo"/>
            </a>
        </div>
        <div class="dsa-footer-section">
            <h2>Om Arbeidsplassen</h2>
            <p class="dsa-footer-a-service-from-nav">Arbeidsplassen er en tjeneste fra NAV</p>
            <ul class="dsa-footer-ul">
                <li><a href="/om-arbeidsplassen" class="dsa-footer-link">Om oss</a></li>
                <li><a href="/kontakt" class="dsa-footer-link">Kontakt oss</a></li>
            </ul>
        </div>
        <div class="dsa-footer-section">
            <h2>Personvern og vilkår</h2>
            <ul class="dsa-footer-ul">
                <li><a href="/personvern" class="dsa-footer-link">Personvern</a></li>
                <li><a href="/vilkar-og-retningslinjer" class="dsa-footer-link">Vilkår for arbeidsgiver</a></li>
            </ul>
        </div>
        <div class="dsa-footer-section">
            <h2>Hjelp</h2>
            <ul class="dsa-footer-ul">
                <li><a href="/sporsmal-og-svar" class="dsa-footer-link">Spørsmål og svar</a></li>
                <li><a href="/arbeidsgivertjenester" class="dsa-footer-link">Hjelp til innlogging</a></li>
                <li><a href="/tilgjengelighet" class="dsa-footer-link">Tilgjengelighet</a></li>
                <li><a href="/en/work-in-norway/" class="dsa-footer-link">Work in Norway</a></li>
            </ul>
        </div>
    </div>
</footer>