<div class="Footer">
    <div class="Footer__inner">
        <p class="Footer__slogan">Arbeidsplassen &mdash; en tjeneste fra NAV</p>
        <nav class="Footer__links">
            <a class="Footer__logo link" href="https://www.nav.no/Forsiden" title="Gå til nav.no">
                <i class="Footer__logo__nav-icon">
                    <span class="Footer__logo__nav-icon__sr-only">NAV logo</span>
                </i>
            </a>
            <ul class="Footer__links__ul">
                <li class="Footer__links__ul__li">
                    <a href="/om-arbeidsplassen" class="Footer__links__ul__li__link">Om Arbeidsplassen</a>
                </li>
                <li class="Footer__links__ul__li">
                    <a href="/sporsmal-og-svar" class="Footer__links__ul__li__link">Spørsmål og svar</a>
                </li>
                <li class="Footer__links__ul__li">
                    <a href="/kontakt" class="Footer__links__ul__li__link">Kontakt oss</a>
                </li>
                <li class="Footer__links__ul__li">
                    <a href="/tilgjengelighet" class="Footer__links__ul__li__link">Tilgjengelighet</a>
                </li>
                <li class="Footer__links__ul__li">
                    <a href="/personvern" class="Footer__links__ul__li__link">Personvern</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
