<header id="dsa-header">
    <nav class="dsa-header-nav" aria-label="Hovedmeny">
        <a href="/" class="dsa-header-til-forsiden" aria-label="Gå til forsiden">
            <div role="img" class="dsa-header-logo" aria-hidden="true"></div>
        </a>
        <div id="dsa-header-menu-button-container"></div>
        <div id="dsa-header-menu-wrapper">
            <div id="dsa-header-menu" class="dsa-header-menu-hidden">
                <ul class="dsa-header-ul">
                    <li><a href="/stillinger">Ledige stillinger</a></li>
                    <li><a href="/jobbtreff">Jobbtreff</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/minside">Min side</a></li>
                </ul>
                <div id="dsa-header-settings-container"></div>
                <div id="dsa-header-current-user-container"></div>
                <div id="dsa-header-login-container"></div>
            </div>
        </div>
    </nav>
</header>
