<header id="arbeidsplassen-header">
    <nav class="arbeidsplassen-header-nav" aria-label="Hovedmeny">
        <a href="/" class="arbeidsplassen-header-til-forsiden" aria-label="Gå til forsiden">
            <i role="img" aria-label="Arbeidsplassen logo" class="arbeidsplassen-header-logo"></i>
        </a>
        <div id="arbeidsplassen-header-menu-button-container"></div>
        <div id="arbeidsplassen-header-menu-wrapper">
            <div id="arbeidsplassen-header-menu" class="arbeidsplassen-header-menu-hidden">
                <ul class="arbeidsplassen-header-ul">
                    <li><a href="/stillinger">Ledige stillinger</a></li>
                    <li><a href="/jobbtreff">Jobbtreff</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/minside">Min side</a></li>
                </ul>
                <div id="arbeidsplassen-header-settings-container"></div>
                <div id="arbeidsplassen-header-current-user-container"></div>
                <div id="arbeidsplassen-header-login-container"></div>
            </div>
        </div>
    </nav>
</header>
