.LoginModal__title {
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.LoginModal__message {
  margin: 0 0 2rem 0;
  font-size: 1.125rem;
}

.LoginModal__buttons .Knapp:not(:last-child) {
  margin-right: 1rem;
}