@import "../../variables";

@media (max-width: @screen-sm-max) {
  .ViewMode {
    margin: 1.25rem 0;
  }
}

@media (min-width: @screen-md-min) {
  .ViewMode {
    margin: 0 0.5rem 0 0;
  }
}

.kompakt-knapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 32px;
  height: 32px;
  border: 1px solid @border-gray;
  border-radius: @border-radius-base;
  cursor: pointer;

  &:focus {
    outline-style: none;
    box-shadow: 0 0 0 3px @orangeFocus;
  }

  &:hover {
    border: 1px solid @navBla;
  }
}

.kompakt-knapp__aktiv {
  border-style: none;
  background-color: @navBla;
}

.kompakt-knapp__inaktiv {
  background-color: white;
}

.kompakt-line {
  margin-left: auto;
  margin-right: auto;
  width: 16px;
  height: 2px;
}

.kompakt-line__aktiv {
  background-color: white;
}

.kompakt-line__inaktiv {
  background-color: @navBla;
}
