@import "../../variables";

.ViewMode {
  margin: 1rem 0 1rem 0;
}

@media (min-width: @screen-md-min) {
  .ViewMode {
    margin: 2.5rem 0 0 10rem;
  }
}

.ViewMode__button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
