<!DOCTYPE HTML>
<html lang="nb">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="robots" content="noindex"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Ledige stillinger</title>
    <script type="text/javascript" src="/pam-stillingsok/js/googleanalytics.js"></script>
    <script type="text/javascript" src="/pam-stillingsok/js/env.js"></script>
    <link type="text/css" media="screen" href="/pam-stillingsok/css/sok.css" rel="stylesheet"/>
    <link type="text/css" media="print" href="/pam-stillingsok/css/print.css" rel="stylesheet"/>
</head>
<body>
    <div id="top" class="no-print"></div>
    <header class="header text-center no-print">
        <a class="header__nav-logo" href="https://www.nav.no/Forsiden" title="Gå til nav.no">
            <img src="https://www.nav.no/_public/beta.nav.no/images/logo.png" width="99px" height="65px" alt="NAV-logo"/>
        </a>
    </header>

    <main id="app"></main>

    <script type="application/javascript" src="/pam-stillingsok/js/sok.js"></script>
</body>
</html>
