<!DOCTYPE HTML>
<html lang="nb">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="https://arbeidsplassen.no/public/images/arbeidsplassen-og-image.jpg" />

    <script type="text/javascript" src="/stillinger/js/env.js?random=0405221"></script>
    <link type="text/css" href="/stillinger/css/sok.css?random=0405221" rel="stylesheet"/>
    <link type="text/css" href="/stillinger/css/styles.css?random=0405221" rel="stylesheet"/>
    <link rel="icon" href="/public/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon-180.png" />
</head>
<body>
    <div id="app">
        <div class="push-footer-down">
            <a class="dsa-skiplink" href="#main-content">Gå til hovedinnhold</a>
            {{> components/header}}

            <main id="main-content"></main>
        </div>
        {{> components/footer}}
    </div>
    <script type="application/javascript" src="/stillinger/js/sok.js?random=0405221"></script>
</body>
</html>
