html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--a-surface-default);
    color: var(--a-text-default);
    font-family: var(--a-font-family);
}

#app {
    height: 100%;
}

.bold {
    font-weight: 600;
}

.large-text {
    font-size: 1.25rem;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-column {
    flex-direction: column;
}

.break-word {
    word-wrap: break-word;
}

.ml-0_5 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 2rem;
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.white-space-no-wrap {
    white-space: nowrap;
}

.inline-select {
    display: flex;
    align-items: center;
}

.inline-select label {
    margin-right: 0.5rem;
    white-space: nowrap;
    margin-bottom: 0;
}

.full-width {
    width: 100%;
}

.dl dd,
.dl dt {
    overflow-wrap: anywhere;
}

.dl dt {
    margin: 0;
}

.dl dd {
    margin: 0 0 1rem 0;
}

.overflow-wrap-anywhere {
    overflow-wrap: anywhere;
}