.LinkMenu {
    margin: 1.5rem auto 0.5rem;
    max-width: 1200px;
    padding: 0 1rem;

    @media (min-width: 900px) {
        padding: 0 2.5rem;
    }

    @media (min-width: 992px) {
        margin: 2rem auto 1rem;
    }
}

.LinkMenu__saved-search-link,
.LinkMenu__favourites-link {
    font-size: 1.125rem;
}

.LinkMenu__favourites-link {
    margin-right: 1rem;
}
