.link {
    color: var(--primaryPurple);
}

.link:hover {
    text-decoration-line: none;
    color: #9c4f9c;
}

.link:focus {
    outline: none;
    color: #fff;
    background: var(--blueDarken);
}
