@import "./fonts.css";
@import "./spacing.css";

html,
body {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll;
    background: var(--a-surface-default);
    color: var(--a-text-default);
    font-family: var(--a-font-family);
    font-size: 1.125rem;
}

#app {
    height: 100%;
}

.push-footer-down {
    min-height: 100%;
    margin-bottom: -794px;
    padding-bottom: 794px;
}

@media (min-width: 940px) {
    .push-footer-down {
        margin-bottom: -476px;
        padding-bottom: 476px;
    }
}

.bold {
    font-weight: bold;
}
