@import "./fonts.css";
@import "./footer.css";
@import "./header.css";
@import "./skiplink.css";
@import "./button.css";
@import "./link.css";

:root {
  --primaryPurple: #8C368E;
  --secondaryPurple: #FBD8E7;
  --blueDarken: #062140;
  --greenLighten: #98f1d7;
  --gray1: #f9f9f9;
  --gray2: #f1f1f1;
  --gray3: #DBDBDB;
  --gray4: #8E9095;
  --gray5: #424448;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow-y: scroll;
  background: #fff;
  color: var(--blueDarken);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.125rem;
}

#app {
  height: 100%;
}

.push-footer-down {
  min-height: 100%;
  margin-bottom: -691px;
  padding-bottom: 691px;
}

@media (min-width: 940px) {
  .push-footer-down {
    margin-bottom: -327px;
    padding-bottom: 327px;
  }
}

@media (max-width: 767px) {
  body.screen-xs-no-scroll {
    overflow-y: hidden;
  }
}

input[type="search"] {
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
}

.ReactModal__Content {
  width: 100%;
  max-width: 40rem;
}

/**
* Overrides
*/

@media (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.selectContainer:before,
.selectContainer:after {
  background: var(--primaryPurple);
}

.skjemaelement__input {
  color: var(--blueDarken);
}

.skjemaelement__input:focus,
.skjemaelement__input:active {
  border: none;
}

.checkboks:hover + .skjemaelement__label,
.radioknapp:hover + .skjemaelement__label {
    color: var(--primaryPurple);
}

.checkboks:hover + .skjemaelement__label:before,
.radioknapp:hover + .skjemaelement__label:before{
    background-color: #ffe7fb;
    border-color: var(--primaryPurple);
}

.checkboks:checked + .skjemaelement__label:before {
  background-color: var(--primaryPurple);
  border-color: var(--primaryPurple);
}

.radioknapp:checked + .skjemaelement__label:before {
  border: 2px solid var(--primaryPurple);
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 12px var(--primaryPurple);
}

.radioknapp:checked:focus + .skjemaelement__label:before {
  box-shadow: 0 0 0 2px var(--blueDarken), 0 0 0 3px #FFF inset, 0 0 0 12px var(--primaryPurple) inset;
}

.skjemaelement__input:hover {
  border-color: var(--primaryPurple);
}

select option[selected="true"] {
  background-color: var(--primaryPurple);
}

select option[selected="true"]:hover {
  border-color: var(--primaryPurple);
}

.bold {
  font-weight: bold;
}
