html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--a-surface-default);
    color: var(--a-text-default);
    font-family: var(--a-font-family);
}

.push-footer-below-fold {
    min-height: 100%;
}

#app {
    height: 100%;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-column {
    flex-direction: column;
}

.break-word {
    word-wrap: break-word;
}

.ml-0_5 {
    margin-left: 0.5rem;
}

.inline-flex {
    display: inline-flex;
}
