@import "../variables";

.NotAuthenticated__title {
  margin-bottom: @modal-title-margin-bottom;
}

.NotAuthenticated__message {
  margin-bottom: @modal-body-margin-bottom;
}

.NotAuthenticated__buttons .Button:not(:last-child) {
  margin-right: @button-marginRight;
}

