.muligheter-inline-button {
    color: var(--ax-text-subtle);
    align-items: center;
    gap: var(--ax-space-2);
    text-underline-offset: 0.1em;
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    display: inline-flex;
    cursor: pointer;
}

.muligheter-inline-button:hover {
    text-decoration-thickness: 0.111em;
}

.muligheter-inline-button:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
    border-radius: 1px;
}
