.AlertModal {
  max-width: 40rem;
  width: 100%;
}

@media (min-width: 768px) {
  .AlertModal {
    padding: 1rem 2rem 2rem 2rem;
  }
}

.AlertModal__h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

.AlertModal__message {
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.AlertModal__buttons {
  display: flex;
  gap: 1rem;
}
