@import (reference) "../../styles/variables";

.CustomModal {
    @media (min-width: @screen-sm-min) {
        padding: 1rem 2rem 2rem 2rem;
    }
}

.CustomModal__title {
    font-weight: 600;
    font-size: 1.5rem;
}
