.CustomModal {
  width: 100%;
  max-width: 40rem;
}

@media (min-width: 768px) {
  .CustomModal {
    padding: 1rem 2rem 2rem 2rem;
  }
}

.CustomModal__title {
  font-weight: 600;
  font-size: 1.5rem;
}
