.SaveSearchForm__buttons {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.SavedSearchListItem {
    margin: 3rem 0 0;
}

.SavedSearchListItem__bottom {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.SavedSearchModal__body__notify {
    margin: 1.5rem 0 2.5rem !important;
}
