.SaveSearchForm__buttons {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.SavedSearchListItem {
    margin: 3rem 0 0;
}

@media (max-width: 991px) {
    .SavedSearchListItem__button-alertstripe {
        display: block !important;
        margin-top: 1rem;
    }
}

.SavedSearchListItem__bottom {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.SavedSearchListItem__expired {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

.SavedSearchModal {
    padding: 1rem;
}

@media (max-width: 767px) {
    .SavedSearchModal {
        padding: 0;
    }
}

.SavedSearchModal__title {
    margin-bottom: 1.25rem;
}

.SavedSearchModal__form-mode {
    margin-bottom: 1rem;
}

.SavedSearchModal__body__notify {
    margin: 1.5rem 0 2.5rem !important;
}

.SavedSearchModal__body {
    margin-bottom: 2.5rem;
}

@media (max-width: 767px) {
    .SavedSearchModal__form-mode {
        margin-bottom: 0;
    }
}
