.SavedSearches {
    max-width: 800px;
    margin: 2rem auto 4rem;
    padding: 0 1rem;
}

.SavedSearches__h1 {
    margin: 0 0 2rem 0;
    font-weight: 600;
    font-size: 2.5rem;
}

.SavedSearchesList {
    margin-bottom: 4rem;
}

.SavedSearches__h2 {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
}

.SavedSearches__p {
    line-height: 1.5;
    font-size: 1.125rem;
}

.SaveSearchForm__buttons {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.SavedSearchListItem {
    padding: 1.25rem;
    display: block;
    margin: 0;
}

.SavedSearchListItem:nth-child(even) {
    background-color: var(--gray1);
}

@media (max-width: 767px) {
    .SavedSearchListItem {
        margin-right: -16px;
        margin-left: -16px;
    }
}

.SavedSearchListItem__top {
    padding-bottom: 1rem;
}

@media (min-width: 992px) {
    .SavedSearchListItem__top_flex {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .SavedSearchListItem__title {
        font-size: 1.25rem;
        margin-right: 1rem;
    }
}

@media (max-width: 991px) {
    .SavedSearchListItem__title {
        font-size: 18px !important;
        margin-bottom: 0.75rem;
    }

    .SavedSearchListItem__created {
        margin-bottom: 0.75rem;
    }

    .SavedSearchListItem__button-alertstripe {
        display: block !important;
        margin-top: 1rem;
    }
}

.SavedSearchListItem__bottom {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.SavedSearchListItem__created {
    white-space: nowrap;
    color: var(--blueDarken);
    font-size: 1.125rem;
}

.SavedSearchListItem__expired {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

.SavedSearchModal {
    padding: 1rem;
}

@media (max-width: 767px) {
    .SavedSearchModal {
        padding: 0;
    }
}

.SavedSearchModal__title {
    margin-bottom: 1.25rem;
}

.SavedSearchModal__form-mode {
    margin-bottom: 1rem;
}

.SavedSearchModal__body__notify {
    margin: 1.5rem 0 2.5rem !important;
}

.SavedSearchModal__body {
    margin-bottom: 2.5rem;
}

@media (max-width: 767px) {
    .SavedSearchModal__form-mode {
        margin-bottom: 0;
    }
}

.SavedSearchModal__p {
    font-size: 1rem;
    line-height: 1.5;
}
