@import "../../variables";

.TotalSavedSearch {
  color: @darkBlue;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid @gray3;

  @media (min-width: @screen-sm-min) {
    padding-left: 1.25rem;
  }
}

.TotalSavedSearch__label {
  margin-bottom: 0.75rem;
}

.TotalSavedSearch__count {
  color: @darkBlue;
  font-size: 3.125rem;
  font-weight: bold;
}