@import "../../variables";

.BackToTop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0 10px #d1d1d1;
  margin: 0;
  background: rgba(255, 255, 255, 0.95);
  padding: 0.5rem 1rem;
  text-align: center;
}

.BackToTop--fixed-bottom {
  bottom: 0;
  top: auto;
}

@media (min-width: @screen-md-min) {
  .BackToTop {
    bottom: 0;
    top: auto;
    width: auto;
    padding: 0;
    margin: 1rem;
  }
}

.BackToTop__chevron {
  margin-right: 4px;
  margin-top: -2px;
}

