.LoginRequiredMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    padding: 0 1rem;
}

.login-buttons-wrapper {
    display: flex;
    gap: 1rem;
}