@import "../variables";

.NoUser__title {
    margin-bottom: @undertittel-margin-bottom;
}

.NoUser__text {
    margin-bottom: 2.5rem;
}

.NoUser__button {
    margin-right: @knapp-margin-right;
}

@media (max-width: @screen-xs-max) {
    .NoUser__button{
        width: 100%;
        margin-right: 0;
        margin-bottom: @knapp-margin-bottom;
    }
}