@import "../variables";

.NoUser__title {
    margin-bottom: @undertittel-margin-bottom;
}

.NoUser__text {
    margin-bottom: 2.5rem;
}

@media (max-width: @screen-xs-max) {
    .NoUser .knapp{
        display: block;
        margin-bottom: @knapp-margin-bottom;
    }
}

@media (min-width: @screen-sm-min) {
    .NoUser__button {
        margin-right: @knapp-margin-right;
    }
}
