.arbeidsplassen-footer  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.arbeidsplassen-footer {
    font-family: "Source Sans Pro", Arial, sans-serif;
    background-color: #f3eaf3;
    display: flex;
    justify-content: center;
    min-height: 420px;
}

@media (min-width: 1300px) {
    .arbeidsplassen-footer {
        min-height: 240px;
    }
}

.arbeidsplassen-footer.arbeidsplassen-footer-dark {
    background-color: #062140;
    border-top: 2px solid #40c1ac;
}

.arbeidsplassen-footer-inner {
    max-width: 1400px;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

@media (min-width: 1300px) {
    .arbeidsplassen-footer-inner {
        padding: 2rem 2rem 4rem 2rem;
    }
}

.arbeidsplassen-footer-slogan {
    font-size: 1.125rem;
    margin: 0 0 2rem 0;
    line-height: 1.3;
    color: #062140;
    width: 100%;
    display: flex;
    align-items: center;
}

.arbeidsplassen-footer-dark .arbeidsplassen-footer-slogan {
    color: #fff;
}

@media (min-width: 1300px) {
    .arbeidsplassen-footer-slogan {
        margin: 0 0 4rem 0;
    }
}

.arbeidsplassen-footer-til-nav {
    margin: 0 1rem 0 0;
}

.arbeidsplassen-footer-til-nav:focus-visible {
    outline: 3px solid #062140;
}

.arbeidsplassen-footer-dark .arbeidsplassen-footer-til-nav:focus-visible {
    outline: 3px solid #fff;
}

.arbeidsplassen-footer-nav-logo {
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='40' viewBox='0 0 64 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.6589 39.9863C18.6196 39.9863 9.6684 31.0355 9.6684 19.9946C9.6684 8.95243 18.6196 0 29.6589 0C40.7022 0 49.6544 8.95243 49.6544 19.9946C49.6544 31.0355 40.7022 39.9863 29.6589 39.9863Z' fill='%231A1919'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 28.724L4.08639 18.6106H8.01278L3.9316 28.724H0Z' fill='%231A1919'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M50.4246 28.724L54.4587 18.6106H56.5993L52.5655 28.724H50.4246Z' fill='%231A1919'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M58.3582 28.724L62.3916 18.6106H63.5284L59.4945 28.724H58.3582Z' fill='%231A1919'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46.7125 18.6106H43.1585C43.1585 18.6106 42.9135 18.6106 42.8269 18.8269L40.86 24.848L38.8948 18.8269C38.8082 18.6106 38.5618 18.6106 38.5618 18.6106H31.7282C31.5802 18.6106 31.4562 18.7341 31.4562 18.8811V20.9259C31.4562 19.3038 29.7303 18.6106 28.7196 18.6106C26.4564 18.6106 24.9414 20.1012 24.4697 22.3675C24.4441 20.8641 24.3192 20.3254 23.9142 19.7737C23.7282 19.5034 23.4593 19.2762 23.1665 19.0882C22.5637 18.7351 22.0224 18.6106 20.859 18.6106H19.4931C19.4931 18.6106 19.2463 18.6106 19.1592 18.8269L17.9163 21.9069V18.8811C17.9163 18.7341 17.7932 18.6106 17.6456 18.6106H14.4848C14.4848 18.6106 14.2408 18.6106 14.1521 18.8269L12.86 22.0295C12.86 22.0295 12.731 22.3498 13.0259 22.3498H14.2408V28.4525C14.2408 28.604 14.3601 28.724 14.5123 28.724H17.6456C17.7932 28.724 17.9163 28.604 17.9163 28.4525V22.3498H19.1376C19.8385 22.3498 19.9869 22.3689 20.2595 22.496C20.4238 22.558 20.5717 22.6835 20.6524 22.8281C20.8176 23.1391 20.859 23.5126 20.859 24.6139V28.4525C20.859 28.604 20.9807 28.724 21.131 28.724H24.1341C24.1341 28.724 24.4735 28.724 24.6077 28.3888L25.2733 26.7438C26.1582 27.9834 27.6148 28.724 29.425 28.724H29.8205C29.8205 28.724 30.162 28.724 30.2972 28.3888L31.4562 25.5183V28.4525C31.4562 28.604 31.5802 28.724 31.7282 28.724H34.7937C34.7937 28.724 35.1319 28.724 35.2678 28.3888C35.2678 28.3888 36.4938 25.3448 36.4986 25.3218H36.5005C36.5476 25.0686 36.2276 25.0686 36.2276 25.0686H35.1334V19.8454L38.576 28.3888C38.7104 28.724 39.0493 28.724 39.0493 28.724H42.6709C42.6709 28.724 43.0117 28.724 43.1462 28.3888L46.9627 18.9382C47.0948 18.6106 46.7125 18.6106 46.7125 18.6106ZM31.4562 25.0686H29.397C28.5774 25.0686 27.9106 24.4049 27.9106 23.5843C27.9106 22.7651 28.5774 22.0972 29.397 22.0972H29.9729C30.7904 22.0972 31.4562 22.7651 31.4562 23.5843V25.0686Z' fill='white'/%3E %3C/svg%3E ");
    background-repeat: no-repeat;
    width: 67px;
    height: 43px;
    display: inline-block;
}

.arbeidsplassen-footer-dark .arbeidsplassen-footer-nav-logo {
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='40' viewBox='0 0 64 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.6589 39.9863C18.6196 39.9863 9.6684 31.0355 9.6684 19.9946C9.6684 8.95243 18.6196 0 29.6589 0C40.7022 0 49.6544 8.95243 49.6544 19.9946C49.6544 31.0355 40.7022 39.9863 29.6589 39.9863Z' fill='white'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 28.724L4.08639 18.6106H8.01278L3.9316 28.724H0Z' fill='white'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M50.4246 28.724L54.4587 18.6106H56.5993L52.5655 28.724H50.4246Z' fill='white'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M58.3582 28.724L62.3916 18.6106H63.5284L59.4945 28.724H58.3582Z' fill='white'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46.7125 18.6106H43.1585C43.1585 18.6106 42.9135 18.6106 42.8269 18.8269L40.86 24.848L38.8948 18.8269C38.8082 18.6106 38.5618 18.6106 38.5618 18.6106H31.7282C31.5802 18.6106 31.4562 18.7341 31.4562 18.8811V20.9259C31.4562 19.3038 29.7303 18.6106 28.7196 18.6106C26.4564 18.6106 24.9414 20.1012 24.4697 22.3675C24.4441 20.8641 24.3192 20.3254 23.9142 19.7737C23.7282 19.5034 23.4593 19.2762 23.1665 19.0882C22.5637 18.7351 22.0224 18.6106 20.859 18.6106H19.4931C19.4931 18.6106 19.2463 18.6106 19.1592 18.8269L17.9163 21.9069V18.8811C17.9163 18.7341 17.7932 18.6106 17.6456 18.6106H14.4848C14.4848 18.6106 14.2408 18.6106 14.1521 18.8269L12.86 22.0295C12.86 22.0295 12.731 22.3498 13.0259 22.3498H14.2408V28.4525C14.2408 28.604 14.3601 28.724 14.5123 28.724H17.6456C17.7932 28.724 17.9163 28.604 17.9163 28.4525V22.3498H19.1376C19.8385 22.3498 19.9869 22.3689 20.2595 22.496C20.4238 22.558 20.5717 22.6835 20.6524 22.8281C20.8176 23.1391 20.859 23.5126 20.859 24.6139V28.4525C20.859 28.604 20.9807 28.724 21.131 28.724H24.1341C24.1341 28.724 24.4735 28.724 24.6077 28.3888L25.2733 26.7438C26.1582 27.9834 27.6148 28.724 29.425 28.724H29.8205C29.8205 28.724 30.162 28.724 30.2972 28.3888L31.4562 25.5183V28.4525C31.4562 28.604 31.5802 28.724 31.7282 28.724H34.7937C34.7937 28.724 35.1319 28.724 35.2678 28.3888C35.2678 28.3888 36.4938 25.3448 36.4986 25.3218H36.5005C36.5476 25.0686 36.2276 25.0686 36.2276 25.0686H35.1334V19.8454L38.576 28.3888C38.7104 28.724 39.0493 28.724 39.0493 28.724H42.6709C42.6709 28.724 43.0117 28.724 43.1462 28.3888L46.9627 18.9382C47.0948 18.6106 46.7125 18.6106 46.7125 18.6106ZM31.4562 25.0686H29.397C28.5774 25.0686 27.9106 24.4049 27.9106 23.5843C27.9106 22.7651 28.5774 22.0972 29.397 22.0972H29.9729C30.7904 22.0972 31.4562 22.7651 31.4562 23.5843V25.0686Z' fill='%23052140'/%3E %3C/svg%3E ");
}

.arbeidsplassen-footer-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-width: 1300px) {
    .arbeidsplassen-footer-ul {
        display: flex;
    }
}

.arbeidsplassen-footer-link {
    color: #8c368e;
    font-size: 1.125rem;
    margin: 0 0 1rem 0;
    display: inline-block;
}

.arbeidsplassen-footer-dark .arbeidsplassen-footer-link {
    color: #fff;
}

@media (min-width: 1300px) {
    .arbeidsplassen-footer-link {
        margin: 0 2rem 0 0;
    }
}

.arbeidsplassen-footer-link:focus-visible {
    outline: none;
    background: #062140;
    color: #fff;
}

.arbeidsplassen-footer-dark .arbeidsplassen-footer-link:focus-visible {
    background: #fff;
    color: #062140;
}

.arbeidsplassen-footer-link:hover {
    text-decoration-line: none;
}