@import "./variables";

.link {
    .link();
}

.link() {
    color: @primaryPurple;

    &:hover {
        text-decoration-line: none;
        color: #9c4f9c;
    }

    &:focus {
        outline: none;
        color: #fff;
        background: @primaryDarkBlue;
    }
}
