@import './variables';

.link {
  .link();
}

.link() {
  color: @primaryPurple;

  &:hover {
    text-decoration-line: none;
    color: #9C4F9C;
  }

  &:focus {
    outline: none;
    color: #fff;
    background: @primaryDarkBlue;
  }
}
