.arbeidsplassen-skiplink {
    font-family: "Source Sans Pro", Arial, sans-serif;
    position: absolute!important;
    top: 0;
    left: 0;
    display: block;
    clip: rect(1px,1px,1px,1px);
}

.arbeidsplassen-skiplink:focus,
.arbeidsplassen-skiplink:active {
    text-align: center;
    margin: auto;
    background-color: #062140;
    clip: auto;
    outline: none;
    padding: 1.25rem;
    font-size: 1.125rem;
    color: white;
    line-height: 1.15;
}

.arbeidsplassen-skiplink:focus:hover,
.arbeidsplassen-skiplink:active:hover {
    text-decoration: none;
}