@primaryTurquoise: #40c1ac;
@primaryDarkBlue: #062140;
@primaryPurple: #8c368e;

@secondaryTurquoise: #98f1d7;
@secondaryPurple: #fbd8e7;

@gray1: #f9f9f9;
@gray2: #f1f1f1;
@gray3: #dbdbdb;
@gray4: #8e9095;
@gray5: #424448;

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
