@primaryTurquoise: #40C1AC;
@primaryDarkBlue: #062140;
@primaryPurple: #8C368E;

@secondaryTurquoise: #98F1D7;
@secondaryPurple: #FBD8E7;

@gray1: #f9f9f9;
@gray2: #f1f1f1;
@gray3: #DBDBDB;
@gray4: #8E9095;
@gray5: #424448;

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);