.BrowserInfo {
  width: 40rem;
  padding: 2rem;

  .BrowserInfo-header {
    margin-bottom: 1rem;
  }
  .BrowserInfo-paragraph {
    margin-bottom: 1rem;
  }
  .BrowserInfo-subheader {
    margin-bottom: 0.5rem;
  }
  .BrowserInfo-lenkeliste {
    ul {
      margin-top: 0.5rem;
      margin-bottom: 0;
      padding-left: 0;
      li {
        list-style: none;
      }
    }
    ul :not(:first-child) {
      margin-top: 0.25rem;
    }
  }
  .BrowserInfo-knapp-wrapper {
    margin-top: 2rem;
  }
}
