@import "../../../node_modules/nav-frontend-lenker-style/src/lenker-style";

.EmployerDetails__description {
   margin-top: 1rem;
   font-family: "Source Sans Pro", Arial, sans-serif;
   font-size: 1rem;
   line-height: 1.375rem;
   font-weight: 400;
   min-height: 60px;

   a {
     .lenke;
   }
}