@import "../../variables";
@import "../../../node_modules/@navikt/arbeidsplassen-core/less/link/mixins";

.EmployerDetails__h2 {
   margin: 2rem 0 1rem;
   font-weight: 600;
   font-size: 1.5rem;
}

.EmployerDetails__description {
   margin-top: 1rem;
   font-family: "Source Sans Pro", Arial, sans-serif;
   font-size: 1.125rem;
   line-height: 1.5;
   overflow-wrap: break-word;
   word-wrap: break-word;

   a {
     .link();
   }
}

.EmployerDetails__dl {
   @media (min-width: @screen-md-min) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
   }

   dt {
      font-weight: 600;
      line-height: 1.5;
      margin: 0;

      @media (min-width: @screen-md-min) {
         margin: 0 0 0.5rem 0;
         font-weight: 400;
         flex: 0 42%;
      }
   }

   dd, dt {
      line-height: 1.5;
      font-size: 1.125rem;
   }

   dd {
      word-wrap: break-word;
      overflow-wrap: break-word;
      margin: 0 0 0.5rem 0;

      @media (min-width: @screen-md-min) {
         margin: 0 0 0.5rem 0;
         flex: 0 58%;
         max-width: 58%;
      }
   }
}