.Spinner {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
}

.Spinner__circle {
    border-width: 5px;
    border-style: solid;
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    border-radius: 100%;
    animation: Spinner__animation 1s infinite linear;
    position: relative;
    color: #888;
    border-left-color: #d9d9d9;
    border-bottom-color: #d9d9d9;
}

@keyframes Spinner__animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}