@import "../../variables";

.SearchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @screen-md-min) {
    margin-left: 1.25rem;
  }

  @media (min-width: @screen-lg-min) {
    margin-left: 2rem;
  }
}

#search-form-fritekst-input {
  border: 0;
  border-bottom: 2px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #fff;

  @media (min-width: @screen-sm-min) {
    font-size: 2rem;
  }

  &:hover {
    border-bottom: 2px solid @greenLighten;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }

  &:focus {
    border-bottom: 2px solid @green;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.2);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.2);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(255, 255, 255, 0.2);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(255, 255, 255, 0.2);
    }
  }
}

.SearchBox__button {
  margin-left: 1rem;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 2px solid @green;
  border-radius: 50%;
  padding: 0;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px @orangeFocus;
  }

  &:hover {
    border-color: @greenLighten;
    .SearchBox__button__icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg stroke='%23C8E7DE' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Ccircle cx='10' cy='10' r='5.5'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156l9.344 9.344'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &:active {
    border-color: @green;
    .SearchBox__button__icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg stroke='%2340C1AC' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Ccircle cx='10' cy='10' r='5.5'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156l9.344 9.344'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.SearchBox__button__icon {
  width: 2.5rem;
  height: 1.5rem;
  background-size: 2.25rem;
  background-repeat: no-repeat;
  background-position: center -0.385rem;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg stroke='%2340C1AC' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Ccircle cx='10' cy='10' r='5.5'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156l9.344 9.344'/%3E%3C/g%3E%3C/svg%3E");
}
