@import "../../variables";

.TypeaheadSuggestion__substring {
  font-weight: bold;
}

.TypeaheadSuggestion__inner {
  display: block;
  width: 100%;
  padding: 0px 1rem;
}

.TypeaheadSuggestion--active {
  color: #fff;
  background-color: @navGronn;
}
