@import "../../variables";

.Typeahead {
  flex: 1;
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid @green;
    overflow: auto;
  }

  ul li {
    display: block;
    clear: both;
    line-height: 2rem;
    color: #333;
    white-space: nowrap;
    font-size: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
}

.Typeahead__input {
  width: 100%;
  padding: 1rem;
  font-size: 110%;
  border: 1px solid @navGra40;
  border-radius: 0;

  &:focus {
    outline: 0;
  }
}

.Typeahead__suggestions{
  width: 100%;
  overflow-x: hidden;
}

.Typeahead__suggestions--hidden {
  display: none;
}