@import "../../../node_modules/nav-frontend-core/less/core";

.Counties {
  border-radius: 0;
  border: 1px solid @navLysGra;
  background: #fff;
  margin-bottom: 1rem;
}

.Counties__county {
  padding: 0 0.5rem;
}

.Counties__county__municipals {
  margin-left: 2rem;
}