.SearchResult {
    @media (min-width: 992px) {
        position: relative;
        flex: 1;
        margin-left: 6rem;
    }
}

.SearchResult__header {
    padding-bottom: 0.75rem;
    line-height: 1;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.SearchResult__footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SearchResult__skip-to-top {
    display: inline-flex;
    align-items: center;

    svg {
        margin-right: 0.5rem;
    }

    @media (max-width: 991px) {
        display: none;
    }
}
