@import (reference) "../../../styles/variables";

.LinkMenu {
  margin: 1.5rem auto 0.5rem;
  max-width: 1440px;
  padding: 0 1rem;

  @media (min-width: @screen-md-min) {
    padding: 0 4rem;
    margin: 2rem auto 1rem;
  }
}

.LinkMenu__saved-search-link,
.LinkMenu__favourites-link {
  font-size: 1.125rem;
}

.LinkMenu__favourites-link {
  margin-right: 1rem;
}