.SearchForm__expand-filter-button {
    display: flex;
    align-items: center;
    background: 0;
    padding: 0;
    margin: 0 0 0.5rem 0;
    font-size: var(--a-font-size-heading-small);
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.SearchForm__expand-filter-button:hover {
    text-decoration: underline;
}

.SearchForm__expand-filter-button:focus {
    outline: none;
    box-shadow: var(--a-shadow-focus);
}

.Filters__desktop {
    display: none;
}

.Filters__mobile {
    display: block;
}

@media (min-width: 768px) {
    .Filters__desktop {
        display: block;
    }

    .Filters__mobile {
        display: none;
    }

    .Filter__section {
        padding: 1rem 0;
    }
}
