.InterestForm {
    margin: 0 0 4rem 0;
}

.InterestForm__green-box {
    background: #e6f4ef;
    margin: 0 0 3rem 0;
    padding: 1rem 0;
}

.InterestForm__green-box-inner {
    margin: 0 auto;
    max-width: 832px;
    padding: 0 1rem;
}

.InterestForm__inner {
    margin: 0 auto;
    max-width: 632px;
    padding: 0 1rem;
}

.InterestForm__lead {
    margin: 0 0 2rem 0;
    font-size: 1.125rem;
    line-height: 1.5;
}

@media (min-width: 680px) {
    .InterestForm__lead {
        margin: 0 0 3rem 0;
        font-size: 1.5rem;
        line-height: 2.125rem;
    }
}

.InterestForm__section {
    margin: 0 0 2.5rem 0;
}

.InterestForm__buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.InterestForm__fieldset {
    padding: 0;
    margin: 0 0 1.5rem 0;
    border: 0;
}

.InterestForm__legend {
    margin: 0 0 1rem 0;
}

.InterestForm__progress {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.InterestForm .textarea__container label {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375;
}

.InterestMessageDelete {
    margin: 4rem auto;
    max-width: 664px;
    padding: 0 1rem;
}

.InterestForm__success-message {
    margin-top: 4rem;
}
