.NewApplicationForm {
    margin: 0 0 4rem 0;
}

.NewApplicationForm__green-box {
    background: var(--a-surface-alt-1-subtle);
    margin: 0 0 3rem 0;
    padding: 1rem 0;
}

.NewApplicationForm__green-box-inner {
    margin: 0 auto;
    max-width: 832px;
    padding: 0 1rem;
}

.NewApplicationForm__section {
    margin: 0 0 2.5rem 0;
}

.NewApplicationForm__buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.NewApplicationForm .textarea__container label {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375;
}

.WithdrawApplication {
    margin: 3rem auto;
    max-width: 664px;
    padding: 0 1rem;
}

.NewApplicationForm__success-message {
    margin-top: 4rem;
}
