.TermsOfUse > .bekreftCheckboksPanel {
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem 0 2rem 0;
}

.TermsOfUse > .bekreftCheckboksPanel .skjemaelement {
    display: flex;
    flex-direction: column;
}

.TermsOfUse > .bekreftCheckboksPanel .skjemaelement label {
    font-weight: 600;
    font-size: 1.125rem;
    padding-left: 2.5rem;
}

.TermsOfUse > .bekreftCheckboksPanel .bekreftCheckboksPanel__innhold {
    margin-left: 2.5rem;
    margin-bottom: 0;
}

.TermsOfUse__error {
    margin-bottom: 2rem;
}

.TermsOfUse__title {
    margin-bottom: 1.25rem;
}

.TermsOfUse__section {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.TermsOfUse__section--last {
    margin-bottom: 2.5rem;
}

.TermsOfUse__section--email {
    margin-bottom: 1rem;
}

.TermsOfUse__input {
    margin-top: 1.25rem;
}

.TermsOfUse__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 767px) {
    .TermsOfUse {
        padding: 0;
    }
}
