.NewApplicationForm__green-box {
    background: var(--a-surface-alt-1-subtle);
    padding: 1rem 0;
}

.NewApplicationForm__section {
    margin: 0 0 2.5rem 0;
}

.NewApplicationForm__buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.NewApplicationForm .textarea__container label {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375;
}

.NewApplicationForm__success-message {
    margin-top: 4rem;
}
