@import "../variables";

.SavedSearches__backbutton__container,
.SavedSearches__header__container,
.SavedSearches__main {
    max-width: 41rem;
    margin: 0 auto;
}

.SavedSearches__backbutton {
    padding: 0.5rem 0;
    background-color: #fff;
}

.SavedSearches__header {
    background-color: @background-green;
    margin-bottom: @site-header-margin-bottom;
    height: @site-header-height;
    display: flex;
    align-items: center;
}

.SavedSearches__main__spinner {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}