@import "../../../styles/variables";

.EventBanner {
    border: 4px solid @secondaryTurquoise;
    padding: 1.5rem 1rem;
    position: relative;
}

.EventBanner--illustration {
    position: absolute;
    top: 1.625rem;
    right: 1rem;
}

.EventBanner__title {
    font-weight: 600;
    margin: 0 calc(1rem + 49px) 0 0;
    font-size: 1.125rem;
    line-height: 1.375rem;

    @media (min-width: @screen-sm-min) {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

.EventBanner--event-title-link {
    margin: 0.5rem calc(1rem + 49px) 0 0;
    display: block;
    line-height: 1.5rem;
}

.EventBanner--events-info-link {
    margin-top: 1rem;
    display: block;
    line-height: 1.5rem;
}
