@import (reference) "../../styles/variables";

.PageHeader {
  width: 100%;
  background-color: @gray2;
  text-align: center;
}

@media (max-width: @screen-xs-max) {
  .PageHeader {
    padding: 16px;
  }
}

@media (min-width: @screen-sm-min) {
  .PageHeader {
    min-height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.PageHeader__title {
  text-align: center;
  color: @blueDarken;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  line-height: 1;
  word-wrap: break-word;

  @media (min-width: @screen-sm-min) {
    font-size: 3.125rem;
  }
}
