@import '../../node_modules/nav-frontend-core/less/_variabler.less';
@import "../variables";

@link-color: #000000;



@media (min-width: @screen-sm-min) {
  .search-result-count-wrapper,
  #search-form-fritekst-input-wrapper {
    min-height: 5rem;
    position: relative;
  }
}

@media (max-width: 767px) {
  #search-form-fritekst-input-wrapper{
    margin-bottom: 1rem;
  }
}

#search-form-fritekst-input-wrapper {
  padding-top: 0.5rem;
  position: relative;
}

#search-form-fritekst-input {
  width: 100%;
  padding: 1rem;
  border-radius: 0;
  border-width: 1px;
  font-size: 110%;
}


#no-results {
  background: #fff;
  padding: 4rem;
  text-align: center;
  border: 1px solid @border-gray;
}

.search-page-header {
  background-color: @background-green;
  padding-bottom: 11.25rem;
}

.search-page-margin {
  margin-top: -9rem;
}

#search-result-count {
  margin-top: 0.8rem;
  color: @color-green;
}

.search-page-filter {
  padding: 0.5rem;
}

.search-page-filter:not(:last-child) {
  border-bottom: none;
}

.filter-municipals {
  margin-left: 2rem;
}

.filter-created {
  padding: 1rem 0 0.5rem 1.5rem;
}

.search-result-item {
  display: flex;
}

.search-result-item__arbeidsgiver {
  align-self: center;
  text-align: center;
  padding: 0 2rem;
}

.search-result-item-link {
  background-color: #fff;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: @link-color;
  border: 1px solid @border-gray;
  margin-bottom: 1rem;

  &:focus {
    outline: 4px solid @navOransjeLighten40;
    border-color: transparent;
  }

  &:hover {
    outline: 2px solid @navGronnLighten40;
    color: @navGronn;
    border-color: transparent;
  }

}

.bilde {
  max-width: 100%
}

.bilde__muted {
  opacity: 0.2;
}



