@import "../variables";

.search-page-header {
  background-color: @background-green;
  padding-bottom: 11.25rem;
}

.search-page-margin {
  margin-top: -9rem;
}

@media (min-width: @screen-sm-min) {
  #sokeresultat {
    position: relative;
    margin-top: -3rem;
  }
}





