.Search__flex {
    display: flex;
    flex-direction: column;
    gap: 0 2rem;
    margin-bottom: 6rem;
    align-items: center;
}

@media (min-width: 769px) {
    .Search__flex {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (min-width: 769px) {
    .Search__flex-left {
        width: 384px;
        padding-top: 2rem;
        padding-right: 2rem;
    }
}

.Search__flex-right {
    flex: 1;
    padding-top: 2rem;
    width: 100%;
}

@media (min-width: 928px) {
    .Search__flex-right {
        max-width: 800px;
    }
}

.Search__h1 {
    text-align: center;
    word-wrap: break-word;
    padding: 1rem;
}

@media (min-width: 768px) {
    .Search__h1 {
        padding: 3rem 0 2.5rem 0;
    }
}

.Search__number-of-hits-and-sorting-wrapper {
    background: var(--a-surface-alt-1-subtle);
}

.SearchResultHeader__skeleton {
    background: var(--arb-grayalpha-100);
    border-radius: var(--a-border-radius-small);
    width: 200px;
    height: 1rem;
    display: inline-flex;
}

.Search__count {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 728px) {
    .Search__count {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1156px) {
    .Search__count {
        padding-left: 480px;
    }
}

.Search__buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

@media (min-width: 769px) {
    .Search__buttons {
        justify-content: center;
        margin-bottom: 3rem;
    }
}
