@import (reference) "../../../styles/variables";

.FinnAd {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.FinnAd__title {
  margin: 0 0 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.FinnAd__text {
  margin: 0 0 1.5rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.FinnAd__link {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.5;
}

