@import '../../../variables';

.Occupations {
  background: #fff;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid @border-gray;
}

.Occupations__inner {
  padding: 0.5rem;
}

.Occupations__inner__secondLevels {
  margin-left: 2rem;
}