@import "../../variables";

.StillingsTitle {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 2rem;
}

@media (max-width: @screen-sm-max) {
  .StillingsTitle {
    margin-left: 0.5rem;
  }
}