@import "../../variables";

.ShowResultsButton {
  @media (min-width: @screen-md-min) {
    display: none;
  }
}

.ShowResultsButton__inner {
  border-bottom: 1px solid @gray4;
  background: @gray2;
  width: 100%;

  &--faded {
    background-color: #98f1d7;
  }

  &--fade-out {
    transition: background-color 2s ease;
    background-color: @gray2;
  }
}

.ShowResultsButton__inner__container {
  height: 3.25rem;
  display: flex;
  align-items: center;
}

.ShowResultsButton__flex__count {
  flex: 1;
}

.ShowResultsButton__text {
  font-weight: normal !important;
}
