@import "../../variables";

.ShowResultsButton {
  @media (min-width: @screen-md-min) {
    display: none;
  }
}

.ShowResultsButton__inner {
  border-bottom: 1px solid @gray3;
  background: @gray1;
  width: 100%;

  &--faded {
    background-color: #98f1d7;
  }

  &--fade-out {
    transition: background-color 2s ease;
    background-color: @gray2;
  }
}

.ShowResultsButton__inner__container {
  height: 3.25rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.ShowResultsButton__flex__count {
  flex: 1;
}

.ShowResultsButton__text {
  font-weight: normal !important;
}

.ShowResultsButton__knapp {
  background-color: #fff;
  border: 2px solid #8c368e;
  border-radius: 5rem;
  color: #8c368e;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.0625em;
  line-height: 1;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
}

.ShowResultsButton__knapp:hover {
  background-color: #fbd8e7;
  border-color: #8c368e;
  color: #8c368e;
  transform: none;
}

.ShowResultsButton__knapp:focus-visible {
  outline: 3px solid #062140;
}
