.TypeaheadSuggestion__substring {
    font-weight: 600;
}

.TypeaheadSuggestion__inner {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TypeaheadSuggestion--active {
    color: var(--a-text-on-action);
    background-color: var(--a-surface-action-active);
}
