.Interest {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 2rem auto 4rem;
  padding: 0 1rem;

  .LinkMainButton {
    align-self: center;
  }
}

.Interest__h1 {
  margin: 0 0 2rem 0;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}
