@import (reference) "../../../styles/variables";

.ListBox {
  margin: 2.5rem 0 1rem;
  padding-top: 1rem;
  border-top: 2px solid @green;
}

.ListBox__title {
  display: flex;
  align-items: flex-start;
  width: 15rem;
}

.ListBox__title__h2 {
  margin: 0 0 1rem;
  color: @green;
  font-size: 1.25rem;
  font-weight: 600;
}

.ListBox__content__ul {
  margin: 0;
}