.RapporterAnnonse {
    max-width: 700px;
    margin: 4rem auto;

    .typo-sidetittel {
        margin: 24px 0 24px 0;
        font-size: 2rem;
    }

    .skjemaelement {
        margin: 12px 0 6px 0;
    }

    .sub-checkbox {
        margin-left: 24px;
    }

    .Knapp {
        margin: 24px 6px 0 6px;
    }

    .disclaimer {
        padding-top: 24px;
        line-height: 1.5;
    }

    .report-form {
        background-color: #f1f1f1;
        padding: 24px;
    }

    .alertstripe {
        margin: 24px 0 12px 0;
    }

    .NotAuthenticated {
        margin-top: 24px;
    }
}
