.RapporterAnnonse {
    max-width: 700px;
    margin: 4rem auto;
}

.RapporterAnnonse .typo-sidetittel {
    margin: 24px 0 24px 0;
    font-size: 2rem;
}

.RapporterAnnonse .sub-checkbox {
    margin-left: 24px;
}

.RapporterAnnonse .disclaimer {
    padding-top: 24px;
    line-height: 1.5;
}

.RapporterAnnonse .report-form {
    background-color: #f1f1f1;
    padding: 24px;
    margin-bottom: 1.5rem;
}

.RapporterAnnonse .alertstripe {
    margin: 24px 0 12px 0;
}

.RapporterAnnonse .NotAuthenticated {
    margin-top: 24px;
}