@import "../../variables";
@import "../../common/link/mixins";

.TermsOfUse__main  {
  max-width: 475px;
  margin: 0 auto;
  padding: 2rem;
}

.TermsOfUse__error {
  margin-bottom: 2rem;
}

.TermsOfUse__title {
  margin-bottom: 1.25rem;
}

.TermsOfUse__intro {
  margin-bottom: 1.5rem;
}

.TermsOfUse__section {
  margin: 2rem 0;
}

.TermsOfUse__section--email {
  margin-bottom: 1rem;
}

.TermsOfUse__input {
  margin-top: 1.25rem;
  min-height: 6.5rem; // Unngår at Lagre knapp hopper opp/ned når feilmelding under input forsvinner/vises
}

.TermsOfUse__buttons {
  margin-bottom: 1rem;
}

.TermsOfUse__buttons .Button:not(:last-child) {
  margin-right: @button-marginRight;
}

.TermsOfUse__spinner {
  display: flex;
  justify-content: center;
}

.TermsOfUse__link-button {
  background: none;
  padding: 0;
  border: 0;
  margin: 0 0 1rem;

  .link();
}

@media (max-width: @screen-xs-max) {
  .TermsOfUse {
    padding: @modal-padding-mobile;
  }

  .TermsOfUse__buttons .Button:not(:last-child) {
    margin-bottom: @button-marginBottom;
  }
}

@media (min-width: @screen-md-min) {
  .TermsOfUse__buttons .Button:not(:last-child) {
    margin-right: @button-marginRight;
  }
}

.TermsOfUse__modal {
  max-width: 640px;
  padding: @modal-padding;
  @media (max-width: @screen-xs-max) {
      padding: @modal-padding-mobile;
  }
}

.TermsOfUse__modal__text {
  margin-bottom: 2.5rem;
}


