.LinkMenu {
    margin: 1.5rem auto 0.5rem;
    max-width: 1232px;
    padding: 0 1rem;
}

@media (min-width: 992px) {
    .LinkMenu {
        margin: 2rem auto 1rem;
    }
}

.LinkMenu__favourites-link {
    margin-right: 1rem;
}
