.Feedback__options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.Feedback__option {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 1px solid var(--a-border-default);
    background: transparent;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 14px;
    cursor: pointer;
}

@media (min-width: 475px) {
    .Feedback__option {
        max-width: 100px;
    }
}

.Feedback__option:hover {
    border: 1px solid var(--a-border-action);
    background: var(--arb-blue-50);
}

.Feedback__emoji {
    font-size: 2rem;
}
