@import (reference) "../../variables";

.PrintButton {
  @media (max-width: @screen-sm-max) {
    display: none !important;
  }
}

.PrintButton__inner {
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.5rem;
  }
}