.Notifications {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
}

.Notifications__alertstripe {
  display: flex;
  justify-content: center;
  border: 0;
  border-radius: 0;
  padding: 1.75rem;
  font-size: 1.125rem;
}

.Notifications__alertstripe--error {
  background: #e09494;
}

.Notifications__alertstripe--success {
  background: #9eeaaa;
}

