.HowToPanel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.HowToPanel .navds-button {
    white-space: nowrap;
}

.HowToPanel__text {
    flex: 1;
}
