@import (reference) "../../styles/variables";

.JobPosting {
  margin: 2rem auto;
  max-width: 1440px;
  padding: 0 1rem;
  min-height: 100vh;

  @media (min-width: @screen-md-min) {
    padding: 0 4rem;
  }
}

.JobPosting__h1 {
  margin: 0 0 1rem;
  font-size: 2rem;
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 600;

  @media (min-width: @screen-md-min) {
    margin: 0 0 1rem;
    font-size: 2.5rem;
  }
}

.JobPosting__h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  line-height: 1.33;

  svg {
    margin-right: 0.75rem;
  }
}

.JobPosting__flex {
  @media (min-width: @screen-md-min) {
    display: flex;
  }
}

.JobPosting__left {
  margin: 0 0 2rem 0;
  @media (min-width: @screen-md-min) {
    flex: 2;
    padding-right: 6rem;
  }

  @media (min-width: @screen-lg-min) {
    padding-right: 14rem;
  }
}

.JobPosting__right {
  @media (min-width: @screen-md-min) {
    width: 340px;
  }

  @media (min-width: @screen-lg-min) {
    width: 440px;
  }
}

.JobPosting__section {
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
}

.JobPosting__dl {
  dd, dt {
    line-height: 1.33;
    font-size: 1.125rem;
  }

  dt {
    margin: 0;
    font-weight: 600;

  }

  dd {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 0 0.75rem 0;
  }
}
