@import (reference) "../../../styles/variables";
@import (reference) "../../../styles/link";

.EmployerDetails__h2 {
  margin: 4rem 0 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-top: 2px solid @gray2;
  padding-top: 1.5rem;

  @media (min-width: @screen-md-min) {
    font-size: 1.75rem;
    border-top: 0;
  }

  svg {
    margin-right: 1rem;
  }
}

.EmployerDetails__description {
  margin-top: 1rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;

  a {
    .link();
  }
}

.EmployerDetails__dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.125rem;
  width: 100%;

  dt {
    width: 100%;

    @media (min-width: @screen-md-min) {
      width: 33%;
    }
  }

  dd {
    margin-left: auto;
    width: 100%;
    @media (min-width: @screen-md-min) {
      width: 66%;
    }
  }

  dd, dt {
    line-height: 1.33;
  }

  dt {
    margin: 0;

    @media (min-width: @screen-md-min) {
      margin: 0 0 0.5rem 0;
    }
  }

  dd {
    margin: 0 0 0.5rem 0;

    @media (min-width: @screen-md-min) {
      margin: 0 0 0.5rem 0;
    }
  }

  dt {
    font-weight: 600;
  }
}