.TermsOfUse__error {
    margin-bottom: 2rem;
}

.TermsOfUse__title {
    margin-bottom: 1.25rem;
}

.TermsOfUse__section {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.TermsOfUse__section--last {
    margin-bottom: 2.5rem;
}

.TermsOfUse__section--email {
    margin-bottom: 1rem;
}

.TermsOfUse__input {
    margin-top: 1.25rem;
}

.TermsOfUse__buttons {
    display: flex;
    gap: 1rem;
}

@media (max-width: 767px) {
    .TermsOfUse {
        padding: 0;
    }
}
