@import "../../variables";

.SocialShare {
  justify-content: left;
  align-items: center;
  word-break: break-word;
  display: block;
  vertical-align: auto;
  margin-top: 0.3rem;
}

.SocialShare__link {
  display: flex;
  align-items: center;

  &:focus, &:active {
    box-shadow: 0 0 0 3px @primaryDarkBlue;
    outline: none;
  }
}

.SocialShare__text {
  margin-left: 1rem;
}

.SocialShare__label {
  font-size: 18px;
}

.SocialShare-inner {
  margin-top: 0.3rem;
}

.SocialShare__facebook {
  margin-right: 1rem;
  svg {
    .cls-1 {
      fill: #1877f2;
    }

    .cls-2 {
      fill: #fff;
    }
  }
}

.SocialShare__linkedin {
  margin-right: 1rem;
  svg {
    .cls-1 {
      fill:#2867b2;
    }

    .cls-2 {
      fill: #fff;
    }
  }
}

.SocialShare__twitter {
  margin-right: 1rem;
  svg {
    .cls-1 {
      fill:#1da1f2;
    }

    .cls-2 {
      fill: #fff;
    }
  }
}

.SocialShare__messenger {
  margin-right: 1rem;
  svg {
    .cls-1 {
      fill:url(#linear-gradient);
    }

    .cls-2 {
      fill:#fff;fill-rule:evenodd;
    }
  }
}
