@import "../../variables";

.SocialShare {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  word-break: break-word;
  margin-top: 5rem;
}

.SocialShare__link {
  display: flex;
  align-items: center;
}

.SocialShare__label {
  margin-right: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.SocialShare__facebook {
  margin-right: 1rem;
  svg {
    .cls-1 {
      fill: #1877f2;
    }

    .cls-2 {
      fill: #fff;
    }
  }
}

.SocialShare__linkedin {
  margin-right: 1rem;
  svg {
    .cls-1 {
      fill:#2867b2;
    }

    .cls-2 {
      fill: #fff;
    }
  }
}

.SocialShare__twitter {
  margin-right: 1rem;
  svg {
    .cls-1 {
      fill:#1da1f2;
    }

    .cls-2 {
      fill: #fff;
    }
  }
}

.SocialShare__messenger {
  margin-right: 1rem;
  svg {
    .cls-1 {
      fill:url(#linear-gradient);
    }

    .cls-2 {
      fill:#fff;fill-rule:evenodd;
    }
  }
}
