@import (reference) "../variables";

.Header__wrapper {
  border-bottom: 0!important; //from pam-frontend
}

.Header__nav__wrapper {
  border-bottom: 2px solid @green;
}

.Header__nav {
  max-width: 1156px;
  margin: 0 auto;
  padding: 0 0.25rem;
  display: flex;

  @media (min-width: @screen-sm-min) {
    padding: 0 1rem;
  }
}

.Header__tab {
  padding: 0 0.75rem;
  margin-right: 0.5rem;

  @media (min-width: @screen-sm-min) {
    margin-right: 1rem;
  }
}

.Header__tab__link {
  display: inline-block;
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding: 0.5rem 2px;
  font-weight: 600;
  text-decoration: none;
  color: @blueDarken;
  border-bottom: 8px solid transparent;
  text-transform: uppercase;

  @media (max-width: 320px) {
    text-transform: none;
    font-size: 90%;
  }

  @media (min-width: @screen-sm-min) {
  }

  &:hover {
    border-color: @green;
  }

  &--active {
    border-color: @green;
  }
}
