.ErrorMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
    padding: 0 1rem;
}

.ErrorMessage__h2 {
    margin: 1rem 0;
}

.ErrorMessage__text {
    margin: 0 0 2rem 0;
    max-width: 500px;
    text-align: center;
}
