.InterestForm {
  margin: 0 0 4rem 0;
}

.InterestForm__green-box{
  background: #E6F4EF;
  margin: 0 0 2rem 0;
  padding: 1rem 0;
}

.InterestForm__green-box-inner {
  margin: 0 auto;
  max-width: 832px;
  padding: 0 1rem;
}

.InterestForm__backlink {
    margin: 0 auto;
    max-width: 1156px;
    padding: 0 1rem;
}

.InterestForm__inner {
  margin: 0 auto;
  max-width: 632px;
  padding: 0 1rem;
}

.InterestForm__job-title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.InterestForm__employer {
  margin: 0 0 0.25rem 0;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
}

.InterestForm__h1 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;

  @media (min-width: 680px) {
    font-size: 2.25rem;
    line-height: 2.875rem;
  }
}

.InterestForm__h2 {
  margin: 0 0 0.5rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;

  @media (min-width: 680px) {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
}

.InterestForm__lead {
  margin: 0 0 2rem 0;
  font-size: 1.125rem;
  line-height: 1.5;

  @media (min-width: 680px) {
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

.InterestForm__p {
  margin: 0 0 1rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.InterestForm__section {
  margin: 0 0 2.5rem 0;
}

.InterestForm__mb-0 {
  margin: 0;
}

.InterestForm__mb-2 {
  margin: 0 0 2rem 0;
}

.InterestForm__textfield {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 0 1rem 0;
}

.InterestForm__textfield label{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375;
}

.InterestForm__textfield input{
  padding: 0.75rem 0.5rem;
  border: 1px solid #062140;
  border-radius: 4px;
}

.InterestForm__textfield input.InterestForm__input--error {
  border: 2px solid #AA1E37;
}

.InterestForm__textfield input:hover{
  border-color: #8C368E;
}

.InterestForm__textfield input:focus{
  outline: 3px solid #062140;
}

.InterestForm__textfield p{
  margin: 0;
  line-height: 1.5;
  font-weight: 600;
  color: #AA1E37;
}

.InterestForm__buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.InterestForm__error-summary {
  border: 3px solid #AA1E37;
  padding: 2rem;
  margin: 0 0 2rem 0;
}

.InterestForm__error-title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.InterestForm__error-list {
  margin: 0;
}

.InterestForm__error-list li {
  line-height: 1.5rem;
  margin: 0 0 0.25rem 0;
  font-size: 1.125rem;
}

.InterestForm__fieldset {
  padding: 0;
  margin: 0 0 1.5rem 0;
  border: 0;
}

.InterestForm__legend {
  font-weight: 600;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.InterestForm__progress {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.InterestForm .textarea__container label {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375;
}

.InterestMessageDelete {
  margin: 4rem auto;
  max-width: 664px;
  padding: 0 1rem;
}

.InterestMessageDelete__ad {
  margin-bottom: 2rem;
}

.InterestMessageDelete__ad-title,
.InterestMessageDelete__employer {
  margin: 0 0 0.25rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.InterestMessageDelete__employer {
  font-weight: 600;
}

