@import "../../variables";

.FavouriteListItem__wrapper {
  margin-bottom: 1rem;
}

.FavouriteListItem {
  background-color: #fff;
  padding: 1.25rem;
  display: block;
  border: 1px solid @border-gray;
}

.FavouriteListItem__top {
  margin-bottom: 1rem;
}

.FavouriteListItem__bottom {
  border-top: 1px solid @border-gray;
  padding-top: 1rem;
  text-align: right;
}