@import "../../variables";

.FavouriteListItem {
  background-color: #fff;
  padding: @list-box-padding;
  margin-bottom: @list-box-margin-bottom;
  display: block;
  border: 1px solid @border-gray;
}

.FavouriteListItem__top {
  margin-bottom: 1rem;
}

.FavouriteListItem__bottom {
  border-top: 1px solid @border-gray;
  margin-top: @list-box-button-bar-margin-top;
  padding-top: @list-box-button-bar-margin-bottom;
  text-align: right;
}