body:has(.overflow-x-hidden) {
    overflow-x: hidden;
}

.height-100 {
    height: 100%;
}

.flex-3 {
    flex: 3;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.non-interactive-chip {
    background: var(--ax-bg-accent-strong-pressed, #024b62);
    color: var(--ax-text-accent-contrast);
    cursor: default;
}

.list-style-none {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.inline-block-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.inline-block-list li.visual-chip {
    display: inline-block;
}

.size-1-25 {
    font-size: 1.25rem;
}

.display-inline {
    display: inline;
}

.horizontal-line {
    border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.block {
    display: block;
}

.box-link {
    text-decoration: none;
    color: var(--ax-text-neutral);
}

.box-link:hover h2 {
    text-decoration: underline;
}

.box-link-image {
    border-bottom-left-radius: 4rem;
}

@media (min-width: 768px) {
    .box-link-image {
        border-bottom-left-radius: 5rem;
    }
}

@media (min-width: 1024px) {
    .box-link-image {
        border-bottom-left-radius: 6rem;
    }
}

@media (max-width: 1343px) {
    .box-link-image {
        width: 100%;
        height: auto;
    }
}
