.align-self-normal {
    align-self: normal;
}

.capitalize {
    text-transform: capitalize;
}

.block {
    /* todo: rename to display-block */
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .hide-on-md-only {
        display: none;
    }
}

.flex-1 {
    flex: 1;
}

.flex-3 {
    flex: 3;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.full-width {
    width: 100%;
}

.height-100vh {
    height: 100vh;
}

@media (min-width: 768px) {
    .justify-content-center-on-md {
        justify-content: center;
    }
}

.lh-1-75 {
    line-height: 1.75rem;
}

.max-width-100 {
    max-width: 100%;
}

.min-width {
    min-width: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-wrap-anywhere {
    overflow-wrap: anywhere;
}

.text-align-right {
    text-align: right;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
}

.size-1-25 {
    font-size: 1.25rem;
}

.white-space-nowrap {
    white-space: nowrap;
}
