@import "global.css";
@import "artikler-og-forside.css";
@import "ukraine-page.css";
@import "table-of-contents.css";
@import "box-link.css";
@import "inline-block-list.css";
@import "custom-link-panel.css";

.inline-select {
    display: flex !important;
    align-items: center !important;
}

.inline-select label {
    white-space: nowrap !important;
    margin-bottom: 0 !important;
}

@media (max-width: 767px) {
    .hide-label-sm label {
        border: 0;
        clip: rect(0, 0, 0, 0);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

.no-focus-outline:focus {
    outline: 0;
}

.no-underline,
.no-underline:focus,
no-underline:hover {
    text-decoration: none;
}

.full-width-alert-box {
    /* TODO: Fix this line */
    /* stylelint-disable-next-line aksel/design-token-no-component-reference */
    background-color: var(--ac-alert-error-bg, var(--a-surface-danger-subtle));
}

.full-width-warning-box {
    /* TODO: Fix this line */
    /* stylelint-disable-next-line aksel/design-token-no-component-reference */
    background-color: var(--ac-alert-warning-bg, var(--a-surface-danger-subtle));
}

.flex-direction-column {
    flex-direction: column;
}

@media (max-width: 479px) {
    .text-left-small {
        text-align: left;
    }
}

.purple-when-visited:visited:not(:focus) {
    color: var(--a-text-visited);
}

.link-icon {
    align-self: baseline;
    display: flex;
    font-size: 1.25rem;
    margin-top: 2px;
}

@media (min-width: 1024px) {
    .bg-alt-1-subtle-on-lg {
        background-color: var(--a-surface-alt-1-subtle);
    }
}

.sommerjobb-chevron {
    margin-right: -0.25rem;
    flex-shrink: 0;
    font-size: 1.7rem;
    transition: transform 200ms;
}

.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
