.table-of-contents-wrapper {
    position: relative;
}

.table-of-contents-label {
    margin-left: 1.5rem;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.table-of-contents-container {
    position: sticky;
    top: 3rem;
}

.table-of-contents ul {
    padding: 0;
}

.table-of-contents li {
    list-style-type: none;
    margin: 0.25rem;
    font-size: 1rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
}

.table-of-contents a {
    color: var(--ax-text-neutral);
    text-decoration: none;
}

.table-of-contents li.active {
    font-weight: 600;
    border-left: 4px solid var(--ax-bg-accent-strong-pressed);
    padding-left: 0.75rem;
}

.table-of-contents li > a:hover {
    color: var(--ax-text-accent-subtle);
    text-decoration: underline;
}

.table-of-contents li.active:hover {
    border-left: 4px solid var(--ax-text-accent-subtle);
}

.back-link-main-content {
    margin-top: 1rem;
    font-size: 1rem;
    padding-left: 0.25rem;
}
