@import (reference) "../../../styles/variables";

.NoResults {
  width: 100%;
  background-color: #e6f4ef;
  padding: 1rem;

  @media (min-width: @screen-md-min) {
    padding: 2.5rem;
  }
}

.NoResults__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 1rem 0
}
