@import (reference) "../../styles/variables";

.SuperraskSoknadBanner {
  width: 100%;
  padding: 1.5rem;
  border: 3px solid #98F1D7;

  @media (min-width: @screen-md-min) {
    width: 320px;
  }
}

.SuperraskSoknadBanner h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.SuperraskSoknadBanner p{
  line-height: 1.5;
  margin: 0;
}

.SuperraskSoknadBanner p:not(:last-child){
  margin-bottom: 1rem;
}
