.job-posting-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 70ch;
}

.job-posting-text #aapningstekst,
.job-posting-text #arbeidsoppgaver,
.job-posting-text #tilbyr,
.job-posting-text #serEtter {
    margin-bottom: var(--a-spacing-16);
}
