@import "../variables";

.Favourites__header__container,
.Favourites__main {
    max-width: 41rem;
    margin: 0 auto;
}

.Favourites__main {
  margin-bottom: 2.5rem;
}

.Favourites__section {
  background: #fff;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.125rem;
}

.Favourites__main__spinner {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.Favourites__main__total-and-sorting {
  margin-bottom: 1rem;

  @media (max-width: @screen-xs-max) {
    padding-bottom: 1.25rem;
  }
  @media (min-width: @screen-sm-min) {
    display: flex;
    align-items: center;
  }
}


@media (max-width: @screen-xs-max) {
  .Favourites__main {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
