.NoSavedSearches {
    background: #fff;
    text-align: center;
    padding: 2rem;
}

.NoSavedSearches__title {
    margin-bottom: 1.25rem;
}

.NoSavedSearches__message {
    margin-bottom: 1.75rem;
}