@media (min-width: 1025px) {
    .JobPosting__flex {
        display: flex;
    }
}

.JobPosting__left {
    margin: 0 0 2rem 0;
}

@media (min-width: 1025px) {
    .JobPosting__left {
        flex: 2;
        padding-right: 3rem;
    }
}

@media (min-width: 1200px) {
    .JobPosting__left {
        padding-right: 6rem;
    }
}

@media (min-width: 1025px) {
    .JobPosting__right {
        width: 340px;
    }
}

@media (min-width: 1025px) {
    .JobPosting__dl--flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 4rem;
    }
}