.HowToApply {
    background: var(--a-surface-alt-1-subtle);
    padding: 1rem;
    border-radius: 6px;
}

@media (max-width: 479px) {
    .HowToApply__full-width-button {
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .HowToApply__full-width-button {
        width: 100%;
    }
}
