.EventBanner {
    border: 4px solid #98f1d7;
    padding: 1.5rem 1rem;
    position: relative;

    @media (min-width: 992px) {
        width: 320px;
    }
}

.EventBanner--illustration {
    position: absolute;
    top: 1.625rem;
    right: 1rem;
}

.EventBanner__title {
    font-weight: 600;
    margin: 0 calc(1rem + 49px) 0 0;
    font-size: 1.125rem;
    line-height: 1.375rem;

    @media (min-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

.EventBanner--event-title-link {
    margin: 0.5rem calc(1rem + 49px) 0 0;
    line-height: 1.5rem;
}

.EventBanner--events-info-link {
    margin: 1rem 0 0;
    line-height: 1.5rem;
}
