.info-card-wrapper {
    position: relative;
    padding-bottom: 80px;
    @media screen and (min-width: 480px) {
        padding-bottom: 72px;
    }
}
.info-card {
    border-radius: 20px;
    padding: 30px;
    background: #fff;
}
.figure-thinking {
    position: absolute;
    bottom: -2px;
    right: 0;
}
