.RapporterAnnonse {
    max-width: 700px;
    margin: 4rem auto;
}

.RapporterAnnonse .typo-sidetittel {
    margin: 24px 0 24px 0;
    font-size: 2rem;
}

.RapporterAnnonse .skjemaelement {
    margin: 12px 0 6px 0;
}

.RapporterAnnonse .sub-checkbox {
    margin-left: 24px;
}

.RapporterAnnonse .disclaimer {
    padding-top: 24px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .RapporterAnnonse .shape-container {
        max-width: 100% !important;
    }
}

.RapporterAnnonse .shape-container {
    padding-top: 40px;
    text-align: center;
    max-width: 50%;
    padding-left: 24px;
}

.RapporterAnnonse .shape-container .diamond {
    background-color: #98f1d7;
    width: 110px;
    height: 110px;
    transform: rotate(45deg);
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 17px;
}

.RapporterAnnonse .shape-container .circle {
    background-color: #40c1ac;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: inline-block;
}

.RapporterAnnonse .report-form {
    background-color: #f1f1f1;
    padding: 24px;
    margin-bottom: 1rem;
}

.RapporterAnnonse .alertstripe {
    margin: 24px 0 12px 0;
}

.RapporterAnnonse .NotAuthenticated {
    margin-top: 24px;
}
