@import "../variables";

.StillingSubMenu {
  background: #fff;
}

.StillingSubMenu__right {
  padding: 0.75rem 0;
  text-align: right;
}

.Stilling {
  padding-bottom: 2rem;
}

.Stilling__header {
  padding-top: 2rem;
  padding-bottom: 11rem;
  background: @background-green;
}

.Stilling__header__favourite {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

@media (min-width: @screen-md-min) {
  .Stilling__header__favourite {
    padding-top: 1.5rem;
  }
}

.Stilling__header__favourite .knapp:not(:last-child) {
  margin-right: @knapp-margin-right;
}

@media (max-width: @screen-xs-max) {
  .StillingSubMenu__print {
    display: none!important;
  }

  .Stilling__header__favourite .knapp:not(:last-child) {
    margin-right: 0;
  }
}

.Stilling__header__favourite__flex {
  display: flex;
  align-items: center;
}

.Stilling__main {
  margin-top: -10.4rem;
}

@media (max-width: @screen-sm-max) {
  .Stilling__header {
    padding-bottom: 0;
  }

  .Stilling__main {
    margin-top: 0.5rem;
  }

  .Stilling__header__favourite {
    margin-bottom: 1rem;
  }
}

.detail-section {
  padding: 1rem;
  border: 1px solid @border-gray;
  background-color: #fff;
  margin-bottom: 1rem;

  .detail-section__head {
    margin-bottom: 0.5rem;
  }
}

.dl-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  dt {
    flex: 0 42%;
    color: @navGra60;
  }

  dd:not(:last-of-type),
  dt:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  dd {
    flex: 0 58%;
    max-width: 58%;
    margin-left: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}


