@import "../variables";

.Stilling {
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 2rem 0 4rem 0;
}

.Stilling__header {
  padding-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Stilling__buttons {
  display: flex;
  justify-content: left;
  padding: 1rem 0;

  @media (min-width: @screen-md-min) {
    justify-content: flex-end;
    .Knapp:not(:last-child) {
      margin-right: @button-marginRight;
    }
  }
}

.Stilling__left {
  margin: 0 0 2rem 0;

  @media (min-width: @screen-sm-min) {
    margin: 0 4rem 2rem 0;
  }

  @media (min-width: @screen-md-min) {
    margin: 0 6rem 0 0;
  }

  @media (min-width: @screen-lg-min) {
    margin: 0 12rem 0 0;
  }
}

.Stilling__h1 {
  margin: 0 0 1rem;
  font-size: 2rem;
  line-height: 1.16;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 600;

  @media (min-width: @screen-md-min) {
    margin: 2rem 0 1rem;
    font-size: 2.5rem;
  }
}

.Stilling__employer-and-location {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 1rem 0;
  line-height: 1.33;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @media (min-width: @screen-md-min) {
    margin: 0 0 2rem 0;
  }
}

.Rapport__link {
  margin-top: 20px;
  font-size: 1.125rem;
}

.detail-section {
  width: 100%;
  margin-bottom: 2rem;

  .detail-section__head {
    padding: 0.75rem 1rem;
    background: @gray2;
  }

  .detail-section__body {
    padding: 1rem;
    background: #fafafa;
  }
}

.dl-flex {
  @media (min-width: @screen-md-min) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  dt {
    font-weight: 600;
    line-height: 1.5;
    margin: 0;

    @media (min-width: @screen-md-min) {
      margin: 0 0 0.5rem 0;
      font-weight: 400;
      flex: 0 42%;
    }
  }

  dd, dt {
    line-height: 1.5;
    font-size: 1.125rem;
  }

  dd {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 0 0.5rem 0;

    @media (min-width: @screen-md-min) {
      margin: 0 0 0.5rem 0;
      flex: 0 58%;
      max-width: 58%;
    }
  }
}


