.Error {
  z-index: 9999;
}

.Error__messages {
  margin-bottom: 1rem;
}

.Error__close {
  position: absolute;
  right: 1rem;
  top: 1rem
}

.Error__reload {
  color: #fff!important;
  border-color: #fff!important;
}