@import '../variables';

.Error {
  z-index: 9999;
}

.Error__close {
  position: absolute;
  right: 1rem;
  top: 1.45rem;
}

.alertstripe--solid.alertstripe--feil {
  background: #f7b4b4;

  svg[kind="feil-sirkel-fyll"] g {
    > path:first-child {
      fill: #e02b2b;
    }
  }
}
