@import (reference) "../../../../styles/variables";

.CriteriaPanel {
  margin-bottom: 1rem;
}

.CriteriaPanel__h3 {
  margin: 0 0 1rem 0;
  display: inline-block;
}

.CriteriaPanel__button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0 1rem 0 0;
  text-align: left;
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  svg {
    margin-right: 0.5rem;
  }
}

.CriteriaPanel__button:focus-visible {
  outline: 3px solid transparent;
  box-shadow: 0 0 0 3px @blueDarken;
}

.CriteriaPanel__button:hover {
  text-decoration: underline;
}

.CriteriaPanel__fieldset {
  padding: 0 0 2rem 1.75rem;
  margin: 0;
  border: 0;

  legend {
    font-size: 1rem;
    font-weight: 600;

    // Only display legend to screen readers
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
  }

  // Override styles
  .skjemaelement {
    margin: 0 0 0.75rem 0;
  }

  // Override styles
  .checkboks {
    &:focus + .skjemaelement__label:before {
      box-shadow: 0 0 0 3px @primaryDarkBlue;
    }

    &:checked {
      &:focus {
        + .skjemaelement__label:before {
          background-color: @primaryPurple;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMCI+ICAgIDxnPiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNCwxMGMtMC40LDAtMC44LTAuMS0xLjEtMC40TDAuNCw3LjFDMC4xLDYuOCwwLDYuNCwwLDZzMC4yLTAuOCwwLjUtMS4xQzEsNC40LDIsNC40LDIuNSw0LjlMNCw2LjRsNi40LTYgICAgQzEwLjgsMC4xLDExLjEsMCwxMS41LDBjMC40LDAsMC44LDAuMiwxLDAuNWMwLjYsMC42LDAuNSwxLjYtMC4xLDIuMXYwTDUsOS42QzQuNyw5LjksNC40LDEwLDQsMTB6IE0xMS44LDEuOUwxMS44LDEuOSAgICBDMTEuOCwxLjksMTEuOCwxLjksMTEuOCwxLjl6IE0xMS4yLDEuMUMxMS4yLDEuMSwxMS4yLDEuMSwxMS4yLDEuMUwxMS4yLDEuMXoiLz4gICAgPC9nPjwvc3ZnPg==);
        }
      }
    }
  }
}

.CriteriaPanel__fieldset--sub {
  padding: 0 0 0 1.25rem;
}

.Facet__zero__count label {
  color: #78706A !important;
}

.RemoteFacet {
  margin-top: 1.5rem;
}
