@import (reference) "../../styles/variables";

.Ad {
  margin: 4rem auto 4rem;
  max-width: 1156px;
  padding: 0 1rem;

  @media (min-width: @screen-md-min) {
    display: flex;
    padding: 0 2.5rem;
  }
}

.Ad__left {
  margin: 0 0 2rem 0;
  @media (min-width: @screen-md-min) {
    flex: 2;
    padding-right: 6rem;
  }

  @media (min-width: @screen-lg-min) {
    padding-right: 12rem;
  }
}

.Ad__right {
  @media (min-width: @screen-md-min) {
    width: 340px;
  }
}

.Ad__h1 {
  margin: 0 0 1rem;
  font-size: 2rem;
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 600;

  @media (min-width: @screen-md-min) {
    margin: 0 0 1rem;
    font-size: 2.5rem;
  }
}

.detail-section {
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;

  .detail-section__head {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 1.33;

    svg {
      margin-right: 0.75rem;
    }
  }
}

.dl-flex {

  dd, dt {
    line-height: 1.33;
    font-size: 1.125rem;
  }

  dt {
    margin: 0;
    font-weight: 600;

  }

  dd {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 0 0.75rem 0;

  }
}


