@nodeModulesPath: './../../';
@coreModulePath: './../../';
@import "../node_modules/nav-frontend-core/less/core";
@import "../node_modules/nav-frontend-paneler-style/src/index";
@import "../node_modules/nav-frontend-skjema-style/src/index";
@import "../node_modules/nav-frontend-grid-style/src/index";
@import "../node_modules/@navikt/arbeidsplassen-core/less/link/link";
@import "../node_modules/@navikt/arbeidsplassen-core/less/skjema/mixins";
@import "../node_modules/@navikt/arbeidsplassen-core/less/panel/panel";
@import "../node_modules/@navikt/arbeidsplassen-core/less/alertstripe/alertstripe";
@import "variables";
@import "./styles/fonts";
@import "./styles/footer";
@import "./styles/header";
@import "./styles/skiplink";

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow-y: scroll;
  background: #fff;
  color: @blueDarken;
  font-family: "Source Sans Pro", Arial, sans-serif;

  .skjemaelement--pink();
}

.push-footer-down {
  min-height: 100%;
  margin-bottom: -420px; /* height of footer */
  padding-bottom: 420px;
}

@media (min-width: 1300px) {
  .push-footer-down {
    margin-bottom: -240px; /* height of footer */
    padding-bottom: 240px;
  }
}

body.screen-xs-no-scroll {
  @media (max-width: @screen-xs-max) {
    overflow-y: hidden;
  }
}

input[type=search] {
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
}

.ReactModal__Content {
  width: 100%;
  max-width: 40rem;
}

/**
* Overrides
*/

@media (max-width: @screen-xs-max) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.selectContainer:before, .selectContainer:after {
  background: @primaryPurple;
}

.skjemaelement__input:focus, .skjemaelement__input:active {
  border: none;
}

.BackLink {
  border-bottom: 0!important;
  color: @primaryPurple;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 18px;

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: @primaryPurple;
  }

  &:focus {
    background: @infoYellow;
    outline: none;
  }
}

.BackLink__chevron {
  margin-top: -3px;
}

