@import "../node_modules/nav-frontend-core/less/_variabler";

@body-bg-color: #fff;
@footer-bg-color: #c6e7de;


/**
 * Colors
 */

@darkBlue: #062140;

@pink: #8C368E;
@pinkLighten1: #A84499;
@pinkLighten2: #FBD8E7;

@greenDarken: #028066;
@green: #40C1AC;
@greenLighten: #C8E7DE;

@gray1: #f9f9f9;
@gray2: #f1f1f1;
@gray3: #DBDBDB;
@gray4: #8E9095;
@gray5: #424448;

/**
 * Fonts
 */
@fontColorDarkBlue: @darkBlue;
@fontColorPink: @pink;
@fontColorGray: @gray4;

/**
 * Buttons
 */
@button-borderColor: @pink;
@button-bgColor: #fff;
@button-textColor: @pink;
@button-marginRight: 1rem;
@button-marginBottom: 1rem;

@button--hover-borderColor: @pink;
@button--hover-bgColor: @pink;
@button--hover-textColor: @pinkLighten2;

@button--active-borderColor: @pinkLighten1;
@button--active-bgColor: @pinkLighten1;
@button--active-textColor: @pink;

@disabledButton-borderColor: @gray4;
@disabledButton-bgColor: #ffffff;
@disabledButton-textColor: @gray4;

@primaryButton-borderColor: @pink;
@primaryButton-bgColor: #fff;
@primaryButton-textColor: @pink;

@primaryButton--hover-borderColor: @pink;
@primaryButton--hover-bgColor: @pinkLighten1;
@primaryButton--hover-textColor: #fff;

@primaryButton--active-borderColor: @pink;
@primaryButton--active-bgColor: @pink;
@primaryButton--active-textColor: @pinkLighten1;


/**
 * Lists, boxes, panels etc
 */
@list-box-padding: 1.25rem;
@list-box-margin-bottom: 1rem;
@list-box-button-bar-margin-top: 1rem;
@list-box-button-bar-margin-bottom: 1rem;
@even-bgColor: @gray2;
@panel-borderColor: @gray4;

/**
 * Modal
 */
@modal-padding: 1rem;
@modal-padding-mobile: 0;
@modal-title-margin-bottom: 1.25rem;
@modal-body-margin-bottom: 2.5rem;

@undertittel-margin-bottom: 1.25rem;

/**
 * Page header
 */
@pageHeaderDark-bgColor: #18001f;
@pageHeaderDark-textColor: @pinkLighten2;

/**
 * Search facets
 */
@facet-marginBottom: 1.75rem;
