@import "../../variables";

.Loading {
  background: #fff;
  border: 1px solid @border-gray;
  position: relative;
  padding: 1rem 3rem;
}

@media (max-width: @screen-sm-max) {
  .Loading {
    border: 0;
    padding: 0 1rem;
  }
}

.Loading__spinner {
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
}

.Loading__header {
  height: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #fcfcfc;
  width: 60%;
  display: block;
}

.Loading__text {
  height: 1rem;
  margin-bottom: 0.5rem;
  background-color: #fdfdfd;
  display: block;
}

.Loading__list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Loading__list-item {
  height: 0.75rem;
  margin-left: 2rem;
  padding-left: 2rem;
  margin-bottom: 0.6rem;
  background-color: #fdfdfd;
  display: block;
  width: 40%;
}

.Loading .Loading__header,
.Loading .Loading__text,
.Loading .Loading__list-item {
  transition: background-color 150ms;
}


.Loading--faded .Loading__header,
.Loading--faded .Loading__text,
.Loading--faded .Loading__list-item {
  background-color: #fff;
}
