@import "../../variables";

.BackToSearch {
  margin: 1.5rem 0 0.5rem -0.5rem;
  display: inline-block;
}

@media print {
  .BackToSearch,
  .BackToSearch--sticky {
    display: none;
  }
}


a.BackToSearch__lenke {
  border-bottom: none;
  font-weight: bold;
  padding: 0.5rem 0.5rem 0.5rem 0rem;

  &:hover .BackToSearch__text {
    border-bottom: solid 1px @navDypBla;
  }
}

.BackToSearch__chevron {
  margin-top: -3px;
}

.BackToSearch--sticky {
  margin: 0;
  display: inline-block;
  position: fixed;
  top: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  padding: 0.75rem 0;
  box-shadow: 0 0 8px @navGra40;
  left: 0;
}
