@import '../../variables';

.SearchResultCount__h3 {
  margin: 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: @blueDarken;
  display: flex;
  align-items: baseline;
  line-height: 1;
}

.SearchResultCount__h3__numberOfPositions {
  font-size: 3.125rem;
  font-weight: bold;
}

.SearchResultCount__h3__count {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 0.25rem;
}
