@import "../../variables";

.SearchResultsItemDetails {
  margin-right: 2.25rem;

  @media (min-width: @screen-md-min) {
    display: flex;
    align-items: center;
  }
}

.SearchResultsItemDetails__employer {
  color: @blueDarken;
  padding-right: 3rem;

  @media (max-width: @screen-sm-max) {
    margin-bottom: 1rem;
    font-weight: 600;
  }
  @media (min-width: @screen-md-min) {
    padding-right: 1rem;
    text-align: center;
  }
  @media (max-width: @screen-xs-max) {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
}

.SearchResultsItemDetails__published {
  color: @blueDarken;
  font-size: 0.875rem;

  @media (max-width: @screen-sm-max) {
    margin-bottom: 0;
  }
  @media (max-width: @screen-xs-max) {
    font-size: 0.75rem;
  }
}

.SearchResultsItemDetails__title {
  margin-bottom: 0.2rem;
  font-size: 1rem;
  color: @pinkDarken;
  font-weight: 600;
  padding: 0.5rem 0;
  line-height: 1.25rem;

  @media (max-width: @screen-xs-max) {
    font-size: 0.875rem;
  }
  @media (min-width: @screen-sm-min) {
    padding-right: 3rem;
  }
}

.SearchResultsItemDetails__title__lenke {
  border-bottom: 0 !important;
}

.SearchResultsItemDetails__jobtitle {
  color: @blueDarken;

  @media (max-width: @screen-xs-max) {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
}

.SearchResultsItemDetails__location {
  margin-top: 0.5rem;
  line-height: 1.43;
  font-size: 0.875rem;
  color: @blueDarken;

  @media (max-width: @screen-xs-max) {
    font-size: 0.75rem;
  }
}

.SearchResultsItemDetails__applicationdue {
  font-size: 0.875rem;
  color: @blueDarken;
  line-height: 1.43;

  @media (max-width: @screen-xs-max) {
    font-size: 0.75rem;
  }
}

.SearchResultsItemDetails__title,
.SearchResultsItemDetails__jobtitle,
.SearchResultsItemDetails__employer,
.SearchResultsItemDetails__location {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
