@import '../../variables';

@media (min-width: @screen-md-min) {
  .SearchResults {
    margin-top: 1.75rem;
  }
}

@media (max-width: @screen-sm-max) {
  .SearchResults {
    padding-top: 1.5rem;
  }
}

.SearchResults__end {
  text-align: center;
  padding: 1rem 0 6rem 0;
}