@import '../../variables';

.SearchResults__numberOfTotal {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.SearchResults__deprecatedParams {
  margin-bottom: 1rem;
}

.SearchResults__AlertStripe__close {
  position: absolute;
  right: 1.5rem;
}

.SearchResults__AlertStripe__title {
  margin-right: 2rem;
}

.SearchResults__end {
  min-height: 15rem;
}

.SearchResults__spinner {
  display: flex;
  justify-content: center;
  min-height: 15rem;
  align-items: center;
}
