@import "../../variables";

.SearchResultItemCompact {
  background-color: #fff;
  margin-bottom: 1px;
  position: relative;
}

.SearchResultItemCompact__flex {
  text-decoration: none;
  color: @navMorkGra;
  display: flex;
  align-items: center;
  padding: 0.25rem 2.5rem 0.25rem 1rem;
  border: 1px solid transparent;

  &:hover {
    border-color: @navBla;
  }
}

.SearchResultItemCompact__flex__title {
  flex: 4;
  overflow: hidden;
  padding-right: 1rem;
}

.SearchResultItemCompact__flex__title__h3 {
  color: @navBla;
  font-weight: bold;
}

.SearchResultItemCompact__flex__title__jobTitle {
  font-size: 12px;
  color: #999999;
}

.SearchResultItemCompact__flex__employer {
  flex: 2;
  padding-right: 2rem;

}

.SearchResultItemCompact__title__jobTitle {
  font-size: 12px;
  display: block;
  color: #999999;
}

.SearchResultItemCompact__flex__location {
  flex: 1;
  padding-right: 1rem;
}

.SearchResultItemCompact__flex__frist {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: initial;
}

.SearchResultItemCompact__flex__frist__label {
  color: #999999;
  display: block;
}

.SearchResultItemCompact__favourite {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  margin-top: -0.5rem;
  z-index: 1;

  .ToggleFavouriteStar {
    border-radius: 50%;
    z-index: 9999;

    .ToggleFavouriteStar__flex .ToggleFavouriteStar__star,
    .ToggleFavouriteStar__flex .ToggleFavouriteStar__star--active {
      @media (min-width: @screen-sm-min) {
        background-size: 1rem;
        height: 1rem;
        width: 1rem;
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  .SearchResultItemCompact__flex {
    display: block;
  }

  .SearchResultItemCompact__flex__location,
  .SearchResultItemCompact__flex__employer {
    font-size: 12px;
  }

  .SearchResultItemCompact__flex__title,
  .SearchResultItemCompact__flex__location,
  .SearchResultItemCompact__flex__employer {
    margin-right: 2.5rem;
  }

  .SearchResultItemCompact {
    display: block;
    position: relative;
  }

  .SearchResultItemCompact__flex__frist {
    color: #999999;
    .SearchResultItemCompact__flex__frist__label {
      display: initial;
    }
  }

  .SearchResultItemCompact__favourite {
    top: 0.25rem;
    margin-top: 0;
  }
}
