@import "../../variables";

.SearchResultItemCompact {
  background-color: #fff;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  color: @navMorkGra;
  border: 0;
  margin-bottom: 1px;

  &:focus {
    outline: 4px solid @navOransjeLighten40;
    border-color: transparent;
  }

  &:hover {
    outline: 2px solid @navGronnLighten40;
    color: @navGronn;
    border-color: transparent;
  }
}

.SearchResultItemCompact__title,
.SearchResultItemCompact__location,
.SearchResultItemCompact__employer{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

