@import '../../variables';

.SearchResults__numberOfTotal {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.SearchResults__end {
  min-height: 15rem;
}

.SearchResults__spinner {
  display: flex;
  justify-content: center;
  min-height: 15rem;
  align-items: center;
}