@import "../variables";

.ConfirmationModal {
    padding: @modal-padding;
}

.ConfirmationModal__title {
    margin-bottom: @modal-title-margin-bottom;
}

.ConfirmationModal__message {
    margin-bottom: @modal-body-margin-bottom;
}

.ConfirmationModal__buttons .knapp:not(:last-child) {
    margin-right: @knapp-margin-right;
}

@media (max-width: @screen-sm-max) {
    .ConfirmationModal {
        padding: @modal-padding-mobile;
    }
}

@media (min-width: @screen-md-min) {
    .ConfirmationModal {
        width: 38rem;
    }
}