@import "../../node_modules/nav-frontend-core/less/_variabler";

.Lenkeknapp {
  border: none!important;
  margin: 0;
  padding: 0;
  background: none;
  color: @navBla;
  text-decoration: none;
  cursor: pointer;
  line-height:inherit;

  &:focus {
    outline: 1px solid @navOransjeLighten40;
    color:@navDypBla;
  }

  &:active {
    color:@navDypBla;
  }
}

