@import (reference) "../../../styles/variables";

.HowToApply__favourite-button {
  margin: 1rem 0 0;
}

.HowToApply__interest-link-main-button-styling {
  margin-right: 1rem;
  border: 3px solid #8C368E;
  border-radius: 28px;
  display: inline-block;
  font-weight: 700;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  padding: 10px 20px;
  background-color: #8C368E;
  color: white;

}

.HowToApply__interest-link-main-button-styling:hover {
  background-color: #FBD8E7;
  border-color: #8C368E;
  color: #8C368E;
}
