@import "../../variables";

.SavedSearchListItem__wrapper {
  margin: 0;

  &:nth-child(even) {
    background-color: @even-bgColor;
  }

  @media (max-width: @screen-xs-max) {
    margin-right: -16px;
    margin-left: -16px;
  }
}

.SavedSearchListItem {
  display: block;
}

.SavedSearchListItem__top {
  padding: @list-box-padding;
}

@media (min-width: @screen-md-min) {
  .SavedSearchListItem__top_flex {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .SavedSearchListItem__title {
    margin-right: 1rem;
  }
}

@media (max-width: @screen-sm-max) {
  .SavedSearchListItem__title {
    margin-bottom: 0.75rem;
  }

  .SavedSearchListItem__created {
    margin-bottom: 0.75rem;
  }

  .SavedSearchListItem__button-alertstripe {
    display: block !important;
    margin-top: 1rem;
  }
}

.SavedSearchListItem__bottom {
  padding: @list-box-padding;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid @gray3;
}

.SavedSearchListItem__bottom .Lenkeknapp:not(:last-child) {
  margin-right: @button-marginRight;
}

.SavedSearchListItem__created {
  white-space: nowrap;
  color: @gray4;
}

.SavedSearchListItem__alertstripe {
  .alertstripe__ikon {
    margin: 0 !important;
    padding: 0 !important;
    width: 2rem !important;
  }

  .alertstripe__tekst {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}