.ukraine {
    background-color: var(--a-surface-alt-3-moderate);
    text-align: start;
    padding: 1rem;
}

@media (min-width: 415px) {
    .ukraine {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .ukraine {
        padding: 1.5rem;
    }
}

.ukraine-grid {
    display: inline-grid;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    margin: 0;
}

@media (min-width: 415px) {
    .ukraine-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 2rem;
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
        justify-content: center;
    }
}

.ukraine-flag {
    height: 2rem;
    width: min-content;
    display: inherit;
    align-items: start;
}

@media (min-width: 415px) {
    .ukraine-flag {
        height: 2rem;
        width: auto;
        display: initial;
    }
}

.ukraine-page-main h1,
.ukraine-page-main p {
    text-align: center;
}

.ukraine-page-main .arb-link-panel-grid {
    gap: 1rem;
}

.ukraine-page-main-container {
    display: flex;
    flex-direction: column;
}

.ukraine-page-main-container .container-small {
    margin-top: 4rem;
    padding: 0;
}

@media (min-width: 768px) {
    .ukraine-page-main-container {
        flex-direction: row;
    }
    .ukraine-page-main-container .container-small {
        margin-top: 0;
        padding: 0 2rem 0 2rem;
    }
}

.ukraine-page .green-box {
    background: var(--a-surface-alt-1-subtle);
    box-shadow: 0 0 0 100vmax var(--a-surface-alt-1-subtle);
    clip-path: inset(0 -100vmax);
    margin-bottom: 3rem;
}

.ukraine-page .green-box-inner {
    padding: 1rem 0;
}

.article-link-panel-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1000px) {
    .article-link-panel-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-link-panel-container > .arb-link-panel-tertiary {
        flex-grow: 1;
        width: 40%;
    }
}

.ukraine-page p .navds-link {
    display: inline;
}
