@import "../../variables";

.SavedSearchesExpand__container {
  @media (max-width: @screen-sm-max) {
    margin-top: 1rem;
  }
}

.SavedSearchesExpand__spinner {
  min-height: 5rem;
  text-align: center;
  margin-top: 1rem;
}

.SavedSearchesExpand__chevron {
  margin-left: 0.25rem;
}

.SavedSearchesExpand__button {
  background: transparent;
  border: 0;
  color: @green;
  cursor: pointer;
  display: inline-block;
  padding: 2px 2px;

  &:focus {
    box-shadow: 0 0 0 3px @orangeFocus;
    outline: none;
  }

  &:hover {
    color: @greenHover;
    .SavedSearchesExpand__chevron[class~='chevron--opp'] {
      transform: translateY(-0.25rem);
    }

    .SavedSearchesExpand__chevron[class~='chevron--ned'] {
      transform: translateY(0.25rem);
    }
  }

  &:active {
    color: @green;
  }
}

.SavedSearchesExpand__list {
  list-style: none;
  padding: 0;
}

.SavedSearchesExpand__panel__inner {
  padding: 1rem 1rem 1rem 1rem;

  @media (min-width: @screen-md-min) {
    overflow-y: auto;
    max-height: 20rem;
  }

  @media (max-width: @screen-sm-max) {
    margin-top: 2rem;
  }
}

.SavedSearchesExpandItem {
  margin-bottom: 0.75rem;
  -webkit-column-break-after: avoid;
}

.SavedSearches__panel {
  padding: 0 !important;
}

.SavedSearchesExpand__container {
  position: relative;
  display: inline-block;

  span {
    color: #fff;
    margin-right: 0.1rem;
    padding: 2px 2px;
  }
}

.SavedSearches__panel {
  position: absolute;
  min-width: 17.5rem;
  top: 3rem;
  left: auto;
  bottom: auto;
  right: 0;
  border-radius: 0.25rem;
  z-index: 999;
  border: 1px solid #d8d8d8;

  @media (min-width: @screen-md-min) {
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 1rem;
      height: 1rem;
      background: #FFF;
      transform: rotate(-45deg);
      transform-origin: 0 0;
      border-right: 1px solid #d8d8d8;
      border-top: 1px solid #d8d8d8;
      right: 2.5rem;
      top: 0;
      z-index: 999;
    }
  }

  @media (max-width: @screen-sm-max) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    padding: 1rem;
    overflow-y: auto;
  }
}

.SavedSearches__close {
  z-index: 1000;

  @media (min-width: @screen-md-min) {
    visibility: hidden;
  }
}
