.RegisterInterest {
  margin: 0 0 4rem 0;
}

.RegisterInterest__green-box {
  background: #e6f4ef;
  margin: 0 0 2rem 0;
  padding: 1rem 0;
}

.RegisterInterest__inner {
  margin: 0 auto;
  max-width: 680px;
  padding: 0 1rem;
}

.RegisterInterest__job-title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.RegisterInterest__employer {
  margin: 0 0 0.25rem 0;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
}

.RegisterInterest__h1 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;
}

@media (min-width: 680px) {
  .RegisterInterest__h1 {
    text-align: center;
  }
}

.RegisterInterest__h2 {
  margin: 0 0 0.5rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6875;
}

.RegisterInterest__lead {
  margin: 0 0 3rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (min-width: 680px) {
  .RegisterInterest__lead {
    text-align: center;
  }
}

.RegisterInterest__p {
  margin: 0 0 1rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.RegisterInterest__section {
  margin: 0 0 2.5rem 0;
}

.RegisterInterest__mb-0 {
  margin: 0;
}

.RegisterInterest__mb-2 {
  margin: 0 0 2rem 0;
}

.RegisterInterest__textfield {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 0 1rem 0;
}

.RegisterInterest__textfield label {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375;
}

.RegisterInterest__textfield input {
  padding: 0.75rem 0.5rem;
  border: 1px solid #062140;
  border-radius: 4px;
}

.RegisterInterest__textfield input.RegisterInterest__input--error {
  border: 2px solid #aa1e37;
}

.RegisterInterest__textfield input:hover {
  border-color: #8c368e;
}

.RegisterInterest__textfield input:focus {
  outline: 3px solid #062140;
}

.RegisterInterest__textfield p {
  margin: 0;
  line-height: 1.5;
  font-weight: 600;
  color: #aa1e37;
}

.RegisterInterest__buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.RegisterInterest__error-summary {
  border: 3px solid #aa1e37;
  padding: 2rem;
  margin: 0 0 2rem 0;
}

.RegisterInterest__error-title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.RegisterInterest__error-list {
  margin: 0;
}

.RegisterInterest__error-list li {
  line-height: 1.5rem;
  margin: 0 0 0.25rem 0;
  font-size: 1.125rem;
}

.RegisterInterest__fieldset {
  padding: 0;
  margin: 0 0 1.5rem 0;
  border: 0;
}

.RegisterInterest__legend {
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.RegisterInterest__progress {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1rem 0;
}

@media (min-width: 680px) {
  .RegisterInterest__success-message {
    text-align: center;
  }
}
