name: Test pnpm build
on:
  push:
    branches:
      - 'feature/bytt_fra_npm_til_pnpm'

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Cache Next.js build artifacts
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}-${{ hashFiles('**/*.ts', '**/*.tsx', '**/*.js', '**/*.jsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}-

      - name: Install dependencies
        run: |
          pnpm config set @navikt:registry https://npm.pkg.github.com
          pnpm config set //npm.pkg.github.com/:_authToken $NPM_AUTH_TOKEN
          pnpm install --frozen-lockfile
      - name: Run tests
        run: pnpm test
      - name: Build
        run: pnpm build